@namespace HITSBlazor.Components.Inputs.TextArea
@using HITSBlazor.Components.Hint
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Typography

<div class="d-flex flex-column w-100 h-100">
    @if (IsLoading)
    {
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <Placeholder Width="w-25" />
        }
        <Placeholder Height="PlaceholderHeight.Regular" />
    }
    else
    {
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <label class="form-label text-primary d-flex gap-1 align-items-center">
                @Label
                @if (!string.IsNullOrWhiteSpace(HintText))
                {
                    <Hint Text="@HintText" />
                }
            </label>
        }
        <div class="input-group h-100">
            <textarea value="@Value"
                      placeholder="@Placeholder"
                      @oninput="@OnInputChanged"
                      class="form-control rounded-end @(_showError ? "is-invalid" : string.Empty)"
                      style="@Style"
                      @attributes="GetInputAttributes()">
            </textarea>
            @if (_showError)
            {
                <Typography CustomClass="invalid-feedback">@ErrorMessage</Typography>
            }
        </div>
    }
</div>