@namespace HITSBlazor.Components.Inputs.TextArea
@using HITSBlazor.Components.Hint
@using HITSBlazor.Components.Typography

<div class="d-flex flex-column w-100 h-100">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-label text-primary">
            @($"{Label}{(!string.IsNullOrWhiteSpace(HintText) ? " " : "")}")
            @if (!string.IsNullOrWhiteSpace(HintText))
            {
                <Hint Text="@HintText" />
            }
        </label>
    }
    <div class="input-group h-100">
        <textarea value="@Value"
                  placeholder="@Placeholder"
                  @oninput="@OnInputChanged"
                  class="form-control rounded-end @(_showError ? "is-invalid" : string.Empty)"
                  style="@Style">
        </textarea>
        @if (_showError)
        {
            <Typography CustomClass="invalid-feedback">@ErrorMessage</Typography>
        }
    </div>
</div>