@namespace HITSBlazor.Pages.Admin.AllCompanies
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.InputSearch
@using HITSBlazor.Components.ListPageComponents.ListPageHeader
@using HITSBlazor.Components.ListPageComponents.ListPageSearch
@using HITSBlazor.Components.ListPageComponents.ListPageTable
@using HITSBlazor.Components.Placeholders.TablePlaceholder
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableComponent
@using HITSBlazor.Components.Tables.TableHeader
@using HITSBlazor.Components.Typography
@inherits ListPageDataLoader

<div class="h-auto bg-white">
    <div class="w-100 p-3">
        <ListPageHeader IsLoading="_isLoading"
                        HeaderText="@($"Список компаний: {_totalCount}")"
                        ShowCreateButton="true"
                        CreateButtonText="Создать компанию" 
                        OnButtonClick="@(() => ShowCompanyModal())" />
        <InputSearch Width="50" DebounceDelay="500" IsLoading="_isLoading" ValueChanged="@((value) => SeacrhCompany(value))" />
        <TableComponent IsLoading="_isLoading" IsDataLoading="_isLoadingMore" HeaderItems="TableHeaderItems" TableActionMenuIsEnable="true" @ref="_tableComponent">
            <TableContent>
                @foreach (var company in _companies)
                {
                    <tr>
                        <TableBodyRow>
                            <div class="text-primary data-link" @onclick="() => ShowCompanyModal(company.Id)">
                                @company.Name
                            </div>
                        </TableBodyRow>
                        <TableBodyRow>@company.Owner.FullName</TableBodyRow>
                        <TableActionMenu ItemId="company.Id"
                                            OnAction="OnCompanyAction"
                                            ActionIds="@(new Dictionary<MenuAction, object> { 
                                                [MenuAction.Edit] = company.Id,
                                                [MenuAction.Delete] = company
                                            })"/>
                    </tr>
                }
            </TableContent>
        </TableComponent>
    </div>
</div>