@namespace HITSBlazor.Components.Forms.RequestTeamToIdeaForm
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Collapse
@using HITSBlazor.Components.Inputs.TextArea
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Skills
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Models.Teams.Enums
@using HITSBlazor.Utils.Models

@if (_teams.Count == 0)
{
    <div class="d-flex bg-white rounded p-2 w-100 px-3 align-items-center justify-content-between">
        @if (_isLoading)
        {
            <Placeholder Width="w-25" />
            <Placeholder Width="w-25" Height="PlaceholderHeight.Smaller" />
        }
        else
        {
            <Typography FontSize="6" TextColor="TextColor.Danger">
                У вас нет команд
            </Typography>
            <Button Variant="ButtonVariant.Primary"
                    Text="Создать команду?"
                    OnButtonClick="@(() => NavigationService.NavigateToAsync("teams/create"))" />
        }
    </div>
}
else
{
    <div class="w-100 d-flex flex-column bg-white rounded-3">
        @if (_isLoading)
        {
            <Placeholder Width="w-25" />
        }
        <Typography FontSize="6" CustomClass="py-2 px-3 border-bottom">
            Ваши команды
        </Typography>
        <div class="d-flex flex-column gap-2 p-3">
            @foreach (var team in _teams)
            {
                <div class="team-request-collapse w-100">
                    <div class="border rounded-3 py-1 px-2 w-100">
                        <Collapse>
                            <MainContent Context="collapse">
                                <div class="team-request-collapse-button">
                                    <Button Variant="ButtonVariant.Link" 
                                            Text="@team.Name" 
                                            OnButtonClick="() => ModalService.ShowTeamModal(team.Id)" />
                                    @if (team.HasActiveProject || team.IsAcceptedToIdea)
                                    {
                                        <Button Variant="ButtonVariant.Secondary" 
                                                Text="Ваша команда уже участвует в идее или проекте" 
                                                IsLoading="true" />
                                    }
                                    else if (!_cachedRequests.TryGetValue(team.Id, out var request) || request.Status is not TeamRequestStatus.New)
                                    {
                                        <Button Text="@GetStatusButtonText(request?.Status)"
                                                Variant="GetStatusButtonVariant(request?.Status)"
                                                IsLoading="request?.Status is TeamRequestStatus.Annulled or TeamRequestStatus.Canceled"
                                                OnButtonClick="async () => {
                                                    _queuedCollapseMethod = collapse.ExpandedStatus ? null : () => collapse.Toggle();
                                                    await collapse.Toggle();
                                                    LetterText = string.Empty;
                                                    SelectedSkills = [];
                                                    await SelectedSkillsChanged.InvokeAsync(SelectedSkills);
                                                }" />
                                    }
                                    else
                                    {
                                        <Button Variant="ButtonVariant.Danger" 
                                                Text="Отозвать заявку"
                                                OnButtonClick="() => WithdrawnRequest(team)" />
                                    }
                                </div>
                            </MainContent>
                            <ExpandedContent>
                                <div class="team-request-collapse-info py-1">
                                    <div class="w-100 d-flex p-2">
                                        <div class="w-50">
                                            <div class="d-flex align-items-center text-primary pb-1">
                                                Состав:
                                            </div>
                                            <div class="d-flex flex-wrap gap-2">
                                                @foreach (var member in team.Members)
                                                {
                                                    <div class="p-1 rounded bg-light border">
                                                        @member.FullName
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="w-50 border-start ps-3 pb-1">
                                            <div class="d-flex gap-2 align-items-center text-primary pb-1">
                                                @if (ShowSkillsCheckbox)
                                                {
                                                    <input type="checkbox" 
                                                           class="form-check-input" 
                                                           @onchange="@(e => CheckTeamSkills(team.Skills, (bool)e.Value!))" />
                                                }
                                                <div>Компетенции:</div>
                                            </div>
                                            <div class="d-flex flex-wrap gap-2">
                                                <div class="d-flex flex-wrap gap-1">
                                                    <Skills SkillList="team.Skills" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <TextArea Label="Мотивационное письмо"
                                              HintText="@_hintText"
                                              @bind-Value="LetterText"
                                              Style="resize: none; height: 200px;" />
                                    <Button Variant="ButtonVariant.Success" 
                                            Text="Подать заявку"
                                            OnButtonClick="() => SendNewRequest(team)" />
                                </div>
                            </ExpandedContent>
                        </Collapse>
                    </div>
                </div>
            }
        </div>
    </div>
}