@namespace HITSBlazor.Components.NotificationTab
@using HITSBlazor.Components.Typography
@using HITSBlazor.Components.Button
@using HITSBlazor.Models.Common.Entities

<div class="@GetNotificationClass()">
    <div class="w-100 pb-2 d-flex flex-column gap-1 border-bottom">
        <div class="w-100 d-flex gap-3 justify-content-between align-items-center">
            <Typography ClassName="fw-bold">@Notification.Title</Typography>

            <div class="d-flex align-self-start align-items-center gap-2">
                <Typography ClassName="text-secondary text-nowrap">
                    @Notification.CreatedAt
                </Typography>

                @if (!Notification.IsReaded)
                {
                    <Button Type="button"
                            Variant="outline-primary"
                            ClassName="p-2"
                            PrependIconName="bi bi-check-lg fs-6"
                            OnClick="@(async () => await OnRead.InvokeAsync(Notification))" />
                }

                @if (Notification.IsFavorite && Notification.IsReaded)
                {
                    <Button Type="button"
                            Variant="outline-warning"
                            ClassName="p-2"
                            PrependIconName="bi bi-bookmark-fill fs-6"
                            OnClick="@(async () => await OnRemoveFavorite.InvokeAsync(Notification))" />
                }

                @if (!Notification.IsFavorite && Notification.IsReaded)
                {
                    <Button Type="button"
                            Variant="outline-warning"
                            ClassName="px-2 py-2"
                            PrependIconName="bi bi-bookmark fs-6"
                            OnClick="@(async () => await OnAddFavorite.InvokeAsync(Notification))" />
                }
            </div>
        </div>
    </div>

    <div class="w-100 pt-2">
        <Typography>@Notification.Message</Typography>
    </div>
</div>

@code {
    [Parameter] public Notification Notification { get; set; } = null!;
    [Parameter] public EventCallback<Notification> OnRead { get; set; }
    [Parameter] public EventCallback<Notification> OnAddFavorite { get; set; }
    [Parameter] public EventCallback<Notification> OnRemoveFavorite { get; set; }

    private string GetNotificationClass()
    {
        var classes = new List<string>
        {
            "notification-tab",
            "w-100",
            "border",
            "border-primary",
            "rounded-3",
            "p-2",
            "mb-2"
        };

        classes.Add(Notification.IsReaded
            ? "notification-tab--white"
            : "notification-tab--primary");

        return string.Join(" ", classes);
    }
}