@namespace HITSBlazor.Components.LeftSideNavigation
@using HITSBlazor.Components.Placeholder
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Utils.EnumTranslators

<div class="bg-white border-end"
     style="@NavigationLayout"
     @onmouseenter="@(() => isHovered = true)"
     @onmouseleave="@(() => isHovered = false)">

    @if (isLoading)
    {
        <div class="p-3 d-flex flex-column gap-2">
            @for (int l = 0; l < 6; l++)
            {
                <Placeholder Height="PlaceholderHeight.Small" />
            }
        </div>
    }
    else
    {
        <div class="p-3 h-100" style="@NavigationStyle @GetSidebarStyles()">
            <ul class="nav nav-pills w-100 gap-2" style="@NavigationContentStyle">
                @for (int i = 0; i < _menuItems.Count; ++i)
                {
                    var item = _menuItems[i];

                    <div class="@(isHovered ? "nav-item w-100" : "nav-item")"
                         style="@(isHovered ? "border-radius: 6px; transition: background-color .15s ease-out;" : string.Empty)">
                        <button type="button"
                                @onclick="() => SelectMenuItem(item.Id)"
                                class="@GetItemButtonClass(item.Id)"
                                style="height: 40px; min-height: 40px; max-height: 40px; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: flex-start; gap: 4px;">
                            <i class="bi @item.Icon fs-5"></i>
                            @if (isHovered)
                            {
                                <span class="fs-6 ms-2">@item.Title</span>
                            }
                        </button>
                        @if (item.SubItems.Any())
                        {
                            <div style="@GetCollapseStyle(item)">
                                <div class="list-group">
                                    <div class="pt-2 rounded">
                                        @for (int j = 0; j < item.SubItems.Count; j++)
                                        {
                                            var subItem = item.SubItems[j];

                                            <button type="button"
                                                    @onclick="() => SelectSubItem(item.Id, subItem.Id)"
                                                    class="@GetSubItemClass(item.Id, subItem.Id)"
                                                    style="height: 40px; min-height: 40px; max-height: 40px; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: flex-start; gap: 4px;">
                                                <i class="bi @subItem.Icon"></i>
                                                @if (isHovered)
                                                {
                                                    <span style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis">@subItem.Title</span>
                                                }
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </ul>

            <div class="d-flex flex-column gap-2">
                <button type="button"
                        @onclick="ShowRoleModal"
                        class="btn d-flex btn-light w-100 text-success"
                        style="height: 40px; min-height: 40px; max-height: 40px;">
                    <i class="bi bi-circle-fill fs-6"></i>
                    @if (isHovered)
                    {
                        <span>@CurrentRole.GetTranslation()</span>
                    }
                </button>
                <button @onclick="@(async () => await AuthService.LogoutAsync())"
                        type="button"
                        class="btn d-flex btn-light w-100"
                        style="height: 40px; min-height: 40px; max-height: 40px;">
                    <i class="bi bi-box-arrow-left fs-5"></i>
                    @if (isHovered)
                    {
                        <span>Выйти</span>
                    }
                </button>
            </div>
        </div>
    }
</div>