@namespace HITSBlazor.Components.LeftSideNavigation
@using HITSBlazor.Services
@using HITSBlazor.Utils

<div class="bg-white border-end"
     style="@NavigationLayout"
     @onmouseenter="HandleMouseEnter"
     @onmouseleave="HandleMouseLeave">

    @if (isLoading)
    {
        <div class="p-3 d-flex flex-column gap-2">
            @for (int l = 0; l < 6; l++)
            {
                <div class="placeholder-glow w-100">
                    <span class="placeholder w-100 bg-secondary rounded small"
                          style="height: 50px"></span>
                </div>
            }
        </div>
    }
    else
    {
        <div class="p-3 h-100" style="@NavigationStyle @GetSidebarStyles()">
            <ul class="nav nav-pills w-100 gap-2" style="@NavigationContentStyle">
                @for (int i = 0; i < _menuItems.Count; ++i)
                {
                    var item = _menuItems[i];

                    <div class="@(isHovered ? "nav-item w-100" : "nav-item")"
                        style="@(isHovered ? "border-radius: 6px; transition: background-color .15s ease-out;" : "")">
                        <button type="button"
                                @onclick="() => SelectMenuItem(item.Id)"
                                class="@GetItemButtonClass(item.Id)"
                                style="height: 40px; min-height: 40px; max-height: 40px; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: flex-start; gap: 4px;">
                            <i class="@item.Icon fs-5" style="@Styles.Bi">
                            </i>
                            @if (isHovered)
                            {
                                <span class="fs-6 ms-2">@item.Title</span>
                            }
                        </button>
                        @if (isHovered && item.SubItems.Any())
                        {
                            //TODO: Сделать прям точную копию навигации, с раскрывшимся списоком при свернутой навигации
                            <div style="@GetCollapseStyle(item)">
                                <div class="list-group">
                                    <div class="pt-2 rounded">
                                        @for (int j = 0; j < item.SubItems.Count; j++)
                                        {
                                            var subItem = item.SubItems[j];

                                            <a class="@GetSubItemClass(item.Id, subItem.Id)"
                                               @onclick="() => SelectSubItem(item.Id, subItem.Id)"
                                               style="cursor: pointer; display: flex; align-items: center; gap: 8px; padding: 8px 12px;">
                                               <i class="@subItem.Icon" style="@Styles.Bi"></i>
                                               <span>@subItem.Title</span>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </ul>

            <div class="d-flex flex-column gap-2">
                <button type="button"
                        class="btn d-flex btn-light w-100 text-success"
                        style="height: 40px; min-height: 40px; max-height: 40px; @Styles.Btn">
                    <i class="bi-circle-fill fs-6" style="@Styles.Bi"></i>
                    @if (isHovered)
                    {
                        <span>@CurrentRole</span>
                    }
                </button>
                <button @onclick="@(async () => await AuthService.LogoutAsync())"
                        type="button"
                        class="btn d-flex btn-light w-100"
                        style="height: 40px; min-height: 40px; max-height: 40px; @Styles.Btn">
                    <i class="bi-box-arrow-left fs-5" style="@Styles.Bi"></i>
                    @if (isHovered)
                    {
                        <span>Выйти</span>
                    }
                </button>
            </div>
        </div>
    }
</div>