@namespace HITSBlazor.Components.LeftSideNavigation
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Collapse
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Utils.EnumUIConverters
@using HITSBlazor.Utils.Models

<div class="bg-white border-end"
     style="@NavigationLayout"
     @onmouseenter="@(() => isHovered = true)"
     @onmouseleave="@(() => isHovered = false)">

    @if (isLoading)
    {
        <div class="p-3 d-flex flex-column gap-2">
            @for (int l = 0; l < 6; l++)
            {
                <Placeholder Height="PlaceholderHeight.Small" />
            }
        </div>
    }
    else
    {
        <div class="p-3 h-100" style="@NavigationStyle @GetSidebarStyles()">
            <ul class="nav nav-pills w-100 gap-2" style="@NavigationContentStyle">
                @for (int i = 0; i < _menuItems.Count; ++i)
                {
                    var item = _menuItems[i];

                    <div class="@(isHovered ? "nav-item w-100 left-side-bar-link" : "nav-item")">
                        <Collapse StartCollapsed="!item.IsExpanded">
                            <MainContent Context="collapse">
                                <button type="button"
                                        @onclick="async () => { 
                                            await SelectMenuItem(item.Id); 
                                            await collapse.Toggle(); 
                                        }"
                                        class="flex-nowrap flex-row align-items-center justify-content-start gap-1 @GetItemButtonClass(item.Id)"
                                        style="height: 40px; min-height: 40px; max-height: 40px;">
                                    <i class="bi @item.Icon fs-5"></i>
                                    @if (isHovered)
                                    {
                                        <Typography FontSize="6" CustomClass="ms-2">
                                            @item.Title
                                        </Typography>
                                    }
                                </button>
                            </MainContent>
                            <ExpandedContent>
                                <div class="list-group">
                                    <div class="pt-2 rounded">
                                        @for (int j = 0; j < item.SubItems.Count; j++)
                                        {
                                            var subItem = item.SubItems[j];

                                            <!--TODO: Переделать на гиперссылку, чтобы открывать в других окнах-->
                                            <button type="button"
                                                    @onclick="() => SelectSubItem(item.Id, subItem.Id)"
                                                    class="flex-nowrap flex-row align-items-center justify-content-start gap-1 @GetSubItemClass(item.Id, subItem.Id)"
                                                    style="height: 40px; min-height: 40px; max-height: 40px;">
                                                <i class="bi @subItem.Icon"></i>
                                                @if (isHovered)
                                                {
                                                    <span style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis">@subItem.Title</span>
                                                }
                                            </button>
                                        }
                                    </div>
                                </div>
                            </ExpandedContent>
                        </Collapse>
                    </div>
                }
            </ul>
            <div class="d-flex flex-column gap-2">
                <Button Variant="ButtonVariant.Light"
                        ButtonClass="w-100 text-success"
                        Style="height: 40px; min-height: 40px; max-height: 40px;"
                        IconStyle="bi-circle-fill"
                        IconSize="fs-6"
                        Text="@(isHovered ? EnumUIConverter.GetInfo(CurrentRole).DisplayText : string.Empty)"
                        OnButtonClick="() => ShowRoleModal()" />
                <Button Variant="ButtonVariant.Light" 
                        ButtonClass="w-100" 
                        Style="height: 40px; min-height: 40px; max-height: 40px;"
                        IconStyle="bi-box-arrow-left"
                        Text="@(isHovered ? "Выйти" : string.Empty)"
                        OnButtonClick="() => Logout()" />
            </div>
        </div>
    }
</div>