@namespace HITSBlazor.Components.StackCategories
@using HITSBlazor.Components.Hint
@using HITSBlazor.Components.InputDropdowns.SkillDropdown
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Services.Skills
@using HITSBlazor.Utils.EnumUIConverters
@using HITSBlazor.Utils.Models


@if (!string.IsNullOrWhiteSpace(Label))
{
    <div class="w-100 d-flex flex-column">
        @if (IsLoading)
        {
            <Placeholder Width="w-25" />
        }
        else
        {
            <div class="d-flex gap-1 align-items-center">
                <Typography FontSize="6" TextColor="TextColor.Primary">
                    Стек технологий
                </Typography>
                @if (!string.IsNullOrWhiteSpace(HintText))
                {
                    <Hint Text="@HintText" />
                }
            </div>
        }
        <div class="mt-2 w-100 stack-categories">
            <SkillDropdown IsLoading="IsLoading"
                           Placeholder="@EnumUIConverter.GetInfo(SkillType.Language).DisplayText"
                           AllSkills="LanguageSkills"
                           @bind-SelectedSkills="@SelectedLanguageSkills"
                           ValueMustCreated="(value) => CreateNewSkill(value, SkillType.Language)" />
            <SkillDropdown IsLoading="IsLoading"
                           Placeholder="@EnumUIConverter.GetInfo(SkillType.Framework).DisplayText"
                           AllSkills="FrameworkSkills"
                           @bind-SelectedSkills="@SelectedFrameworkSkills"
                           ValueMustCreated="(value) => CreateNewSkill(value, SkillType.Framework)" />
            <SkillDropdown IsLoading="IsLoading"
                           Placeholder="@EnumUIConverter.GetInfo(SkillType.Database).DisplayText"
                           AllSkills="DatabaseSkills"
                           @bind-SelectedSkills="@SelectedDatabaseSkills"
                           ValueMustCreated="(value) => CreateNewSkill(value, SkillType.Database)" />
            <SkillDropdown IsLoading="IsLoading"
                           Placeholder="@EnumUIConverter.GetInfo(SkillType.Devops).DisplayText"
                           AllSkills="DevopsSkills"
                           @bind-SelectedSkills="@SelectedDevopsSkills"
                           ValueMustCreated="(value) => CreateNewSkill(value, SkillType.Devops)" />
        </div>
    </div>
}
else
{
    <div class="mt-2 w-100 stack-categories">
        <SkillDropdown IsLoading="IsLoading"
                       Placeholder="@EnumUIConverter.GetInfo(SkillType.Language).DisplayText"
                       AllSkills="LanguageSkills"
                       @bind-SelectedSkills="@SelectedLanguageSkills"
                       ValueMustCreated="(value) => CreateNewSkill(value, SkillType.Language)" />
        <SkillDropdown IsLoading="IsLoading"
                       Placeholder="@EnumUIConverter.GetInfo(SkillType.Framework).DisplayText"
                       AllSkills="FrameworkSkills"
                       @bind-SelectedSkills="@SelectedFrameworkSkills"
                       ValueMustCreated="(value) => CreateNewSkill(value, SkillType.Framework)" />
        <SkillDropdown IsLoading="IsLoading"
                       Placeholder="@EnumUIConverter.GetInfo(SkillType.Database).DisplayText"
                       AllSkills="DatabaseSkills"
                       @bind-SelectedSkills="@SelectedDatabaseSkills"
                       ValueMustCreated="(value) => CreateNewSkill(value, SkillType.Database)" />
        <SkillDropdown IsLoading="IsLoading"
                       Placeholder="@EnumUIConverter.GetInfo(SkillType.Devops).DisplayText"
                       AllSkills="DevopsSkills"
                       @bind-SelectedSkills="@SelectedDevopsSkills"
                       ValueMustCreated="(value) => CreateNewSkill(value, SkillType.Devops)" />
    </div>
}

@code {
    [Inject]
    private ISkillService SkillService { get; set; } = null!;

    [Parameter]
    public bool IsLoading { get; set; } = false;

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string HintText { get; set; } = string.Empty;

    [Parameter]
    public List<Skill> LanguageSkills { get; set; } = [];

    [Parameter]
    public EventCallback<List<Skill>> LanguageSkillsChanged { get; set; }

    [Parameter]
    public List<Skill> FrameworkSkills { get; set; } = [];

    [Parameter]
    public EventCallback<List<Skill>> FrameworkSkillsChanged { get; set; }

    [Parameter]
    public List<Skill> DatabaseSkills { get; set; } = [];

    [Parameter]
    public EventCallback<List<Skill>> DatabaseSkillsChanged { get; set; }

    [Parameter]
    public List<Skill> DevopsSkills { get; set; } = [];

    [Parameter]
    public EventCallback<List<Skill>> DevopsSkillsChanged { get; set; }

    [Parameter]
    public HashSet<Skill> SelectedLanguageSkills { get; set; } = [];

    [Parameter]
    public EventCallback<HashSet<Skill>> SelectedLanguageSkillsChanged { get; set; }

    [Parameter]
    public HashSet<Skill> SelectedFrameworkSkills { get; set; } = [];

    [Parameter]
    public EventCallback<HashSet<Skill>> SelectedFrameworkSkillsChanged { get; set; }

    [Parameter]
    public HashSet<Skill> SelectedDatabaseSkills { get; set; } = [];

    [Parameter]
    public EventCallback<HashSet<Skill>> SelectedDatabaseSkillsChanged { get; set; }

    [Parameter]
    public HashSet<Skill> SelectedDevopsSkills { get; set; } = [];

    [Parameter]
    public EventCallback<HashSet<Skill>> SelectedDevopsSkillsChanged { get; set; }

    private async Task CreateNewSkill(string name, SkillType skillType)
    {
        var newSkill = await SkillService.CreateNewSkillAsync(name, skillType, false);
        if (newSkill is null) return;

        if (skillType is SkillType.Language)
        {
            LanguageSkills.Add(newSkill);
            SelectedLanguageSkills.Add(newSkill);
            await LanguageSkillsChanged.InvokeAsync(LanguageSkills);
            await SelectedLanguageSkillsChanged.InvokeAsync(SelectedLanguageSkills);
        }
        else if (skillType is SkillType.Framework)
        {
            FrameworkSkills.Add(newSkill);
            SelectedFrameworkSkills.Add(newSkill);
            await FrameworkSkillsChanged.InvokeAsync(FrameworkSkills);
            await SelectedFrameworkSkillsChanged.InvokeAsync(SelectedFrameworkSkills);
        }
        else if (skillType is SkillType.Database)
        {
            DatabaseSkills.Add(newSkill);
            SelectedDatabaseSkills.Add(newSkill);
            await DatabaseSkillsChanged.InvokeAsync(DatabaseSkills);
            await SelectedDatabaseSkillsChanged.InvokeAsync(SelectedDatabaseSkills);
        }
        else if (skillType is SkillType.Devops)
        {
            DevopsSkills.Add(newSkill);
            SelectedDevopsSkills.Add(newSkill);
            await DevopsSkillsChanged.InvokeAsync(DevopsSkills);
            await SelectedDevopsSkillsChanged.InvokeAsync(SelectedDevopsSkills);
        }
    }
}