@namespace HITSBlazor.Pages.Admin.AllSkills
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Filters.CheckboxFilter
@using HITSBlazor.Components.Filters.RadioFilter
@using HITSBlazor.Components.Filters.ResetFilterButton
@using HITSBlazor.Components.InputSearch
@using HITSBlazor.Components.ListPageComponents.ListPageHeader
@using HITSBlazor.Components.ListPageComponents.ListPageSearch
@using HITSBlazor.Components.ListPageComponents.ListPageTable
@using HITSBlazor.Components.Placeholders.TablePlaceholder
@using HITSBlazor.Components.Statuses.BoolStatus
@using HITSBlazor.Components.Statuses.EnumStatus
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableComponent
@using HITSBlazor.Components.Tables.TableHeader
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Utils.EnumStyles
@using HITSBlazor.Utils.Models
@inherits ListPageDataLoader

<div class="h-auto bg-white">
    <div class="w-100 p-3">
        <ListPageHeader IsLoading="_isLoading"
                        HeaderText="@($"Список компетенций: {_totalCount}")"
                        CreateButtonText="Добавить компетенцию"
                        ShowCreateButton="true"
                        OnButtonClick="() => ShowSkillModal()" />
        <InputSearch Width="50" IsLoading="_isLoading" ValueChanged="@((value) => SeacrhSkill(value))" />
        <TableComponent IsLoading="_isLoading" TableActionMenuIsEnable="true" HeaderItems="_skillsTableHeader" @ref="_tableComponent">
            <TableContent>
                @foreach (var skill in _skills)
                {
                    <tr>
                        <TableBodyRow>
                            <div class="px-2 py-1 data-link" @onclick="@(() => ShowSkillModal(skill))">
                                @skill.Name
                            </div>
                        </TableBodyRow>
                        <TableBodyRow>
                            <EnumStatus Statustype="skill.Type" />
                        </TableBodyRow>
                        <TableBodyRow>
                            <BoolStatus Value="skill.Confirmed" StatusType="BoolStatusType.SkillConfirm" />
                        </TableBodyRow>
                        <TableActionMenu ItemId="@skill.Id"
                                         OnAction="OnSkillAction"
                                         ActionIds="@GetTableActions(skill)" />
                    </tr>
                }
            </TableContent>
            <FilterContent>
                <CheckboxFilter T="EnumViewModel<SkillType>"
                                IsLoading="_isLoading"
                                Label="Категория"
                                AllValues="_filterSkillTypes"
                                @bind-SelectedValues="SelectedSkillTypes"
                                FilterChanged="FiltersHasChanged" />
                <RadioFilter T="ValueViewModel<bool?>"
                             IsLoading="_isLoading"
                             Label="Статус"
                             AllValues="_confirmedFilterValues"
                             @bind-Value="IsConfirmed"
                             OnFilterChanged="FiltersHasChanged" />
                <ResetFilterButton IsLoading="_isLoading" ResetMethod="ResetFilters" />
            </FilterContent>
        </TableComponent>
    </div>
</div>