@namespace HITSBlazor.Pages.Admin.AllSkills
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Filters.RadioFilter
@using HITSBlazor.Components.ListPageComponents.ListPageHeader
@using HITSBlazor.Components.ListPageComponents.ListPageSearch
@using HITSBlazor.Components.ListPageComponents.ListPageTable
@using HITSBlazor.Components.Placeholders.TablePlaceholder
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableHeader
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Utils.EnumStyles
@using HITSBlazor.Utils.Models

<div class="page-content-with-header bg-white overflow-y-scroll">
    @if (_isLoading)
    {
        <TablePlaceholder />
    }
    else
    {
        <div class="w-100 bg-white p-3">
            <ListPageHeader HeaderText="@($"Список компетенций: {_skills.Count}")"
                            CreateButtonText="Добавить компетенцию" 
                            ShowCreateButton="true" 
                            OnButtonClick="() => Console.WriteLine()" />
            <ListPageSearch ValueChanged="@((value) => Console.WriteLine(value))" />
            <ListPageTable>
                <TableContent>
                    <TableHeader TableActionMenuIsEnable="true"
                                 Items="_skillsTableHeader" />
                    <tbody>
                        @foreach (var skill in _skills)
                        {
                            <tr>
                                <TableBodyRow>
                                    <div class="data-link" @onclick="@(() => Console.WriteLine())">
                                        @skill.Name
                                    </div>
                                </TableBodyRow>
                                <TableBodyRow>
                                    <div class="px-2 py-1 rounded-4 @skill.Type.GetStyle()">
                                        @(EnumViewModel<SkillType>.GetTranslation(skill.Type))
                                    </div>
                                </TableBodyRow>
                                <TableBodyRow>
                                    <div class="@(skill.Confirmed ? string.Empty : "text-danger")">
                                        @(skill.Confirmed ? "Утверждена" : "На рассмотрении")
                                    </div>
                                </TableBodyRow>
                                <TableActionMenu ItemId="@skill.Id"
                                                 OnAction="() => Console.WriteLine()"
                                                 ActionIds="[]" />
                            </tr>
                        }
                    </tbody>
                </TableContent>
                <FilterContent>
                    <div class="w-100">
                        <Typography FontSize="6" CustomClass="fw-semibold">
                            Категория
                        </Typography>
                        <div class="list-page-filter-choices">
                            @foreach (var skill in Enum.GetValues<SkillType>())
                            {
                                <div class="list-page-filter-choice px-2 py-1 rounded-1">
                                    <div class="d-flex">
                                        <input type="checkbox"
                                               class="form-check-input" />
                                        <Typography CustomClass="form-check-label ms-2">
                                            @(EnumViewModel<SkillType>.GetTranslation(skill))
                                        </Typography>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <RadioFilter Label="Статус"
                                 Value1Text="Утверждена"
                                 Value2Text="На рассмотрении"
                                 @bind-Value="Temp"
                                 OnFilterChanged="() => Console.WriteLine()" />
                    <div class="w-100 d-flex justify-content-center">
                        <Button BtnType="ButtonType.Button"
                                Variant="ButtonVariant.Danger"
                                Text="Сбросить фильтры"
                                IconStyle="bi-x-lg"
                                OnButtonClick="() => Console.WriteLine()" />
                    </div>
                </FilterContent>
            </ListPageTable>
        </div>
    }
</div>