@namespace HITSBlazor.Components.Modals.CenterModals.AddTeamMembersModal
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Filters.ResetFilterButton
@using HITSBlazor.Components.Filters.SkillFilter
@using HITSBlazor.Components.InputSearch
@using HITSBlazor.Components.ListPageComponents.ListPageSearch
@using HITSBlazor.Components.Modals.Components.CenterModalHeader
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableComponent
@using HITSBlazor.Components.Tables.TableHeader
@using HITSBlazor.Components.Typography
@using HITSBlazor.Pages
@using HITSBlazor.Services.Modal
@inherits ListPageDataLoader

<div @onclick:stopPropagation="true" class="invitation-modal p-3 bg-white rounded">
    <CenterModalHeader IsLoading="_isLoading" HeaderText="Выберите пользователей для приглашения" />
    <div class="invitation-modal-table">
        <div class="w-100">
            <InputSearch IsLoading="_isLoading" Width="50" Value="@SeacrhText" ValueChanged="(value) => SearchUser(value)" DebounceDelay="500" />
            <TableComponent IsLoading="_isLoading" HeaderItems="_tableHeader" TableActionMenuIsEnable="true" @ref="_tableComponent">
                <TableContent>
                    @foreach (var user in _users)
                    {
                        <tr>
                            <TableBodyRow>
                                <div class="data-link" @onclick="() => ModalService.ShowProfileModal(user.Id)">
                                    @user.Email
                                </div>
                            </TableBodyRow>
                            <TableBodyRow>@user.FirstName</TableBodyRow>
                            <TableBodyRow>@user.LastName</TableBodyRow>
                            <TableActionMenu ItemId="user.Id"
                                             OnAction="OnTeamAction"
                                             ActionIds="GetActions(user)" />
                        </tr>
                    }
                </TableContent>
                <FilterContent>
                    <SkillFilter OnFilterChanged="FiltersHasUpdated"
                                 @bind-SeacrhSkillText="SearchSkillText"
                                 @bind-SelectedSkillIds="SelectedSkillIds" />
                    <ResetFilterButton ResetMethod="ResetFilters" />
                </FilterContent>
            </TableComponent>
        </div>
    </div>
    <div class="w-100 p-2 border rounded">
        @if (_selectedUsers.Count > 0)
        {
            @foreach (var user in _selectedUsers)
            {
                <div class="d-flex gap-2 flex-wrap">
                    <div class="invitation-modal-selected-users p-1 rounded-3 bg-primary bg-opacity-25">
                        <Typography FontSize="6">
                            @user.FullName
                        </Typography>
                        <i class="bi bi-x-lg" style="cursor: pointer;" 
                           @onclick="() => _selectedUsers.Remove(user)"></i>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="m-1 w-100 text-center">
                Никто не выбран
            </div>
        }
    </div>
    <div class="invitation-modal-buttons">
        <Button Variant="ButtonVariant.Success" 
                Text="Сохранить выбор"
                OnButtonClick="() => ConfirmUsers()" />
        <Button Variant="ButtonVariant.Danger" 
                Text="Отменить выбор" 
                OnButtonClick="async () => await ModalService.Close(ModalType.Center)" />
    </div>
</div>