@namespace HITSBlazor.Components.Modals.ShowIdeaModal
@using HITSBlazor.Components.Placeholder
@using HITSBlazor.Utils.EnumStyles
@using HITSBlazor.Utils.EnumTranslators

<div class="right-side-modal p-3 overflow-y-scroll" @onclick:stopPropagation="true">
    <div class="idea-modal-side w-75">
        @if (isLoading || CurrentIdea is null)
        {
            <Placeholder Width="w-75" />
            <div class="p-2 bg-white rounded-3 d-flex flex-column gap-1">
                <Placeholder Width="w-50" />
                <Placeholder />
                <Placeholder />
                <Placeholder />
            </div>
        }
        else
        {
            <div class="right-side-modal-header">
                <button type="button"
                        @onclick="@(() => ModalService.Close())"
                        class="btn d-flex btn-primary">
                    <i class="bi bi-backspace-fill fs-5"></i>
                    Назад
                </button>
                <span class="p-2 w-100 bg-white rounded-3 fs-4 text-primary text-nowrap overflow-x-scroll">
                    @CurrentIdea.Name
                </span>
            </div>
            <ul class="list-group rounded-3">
                <!-- //TODO: Текст можно скрывать, нужно реализовать это, похоже на скрытие и открытие в навигации -->
                @foreach (var data in ideaData)
                {
                    <li class="list-group-item p-0 overflow-hidden">
                        <button type="button" class="btn d-flex btn-light w-100 collapse-controller" @onclick="@(() => data.IsExpanded = !data.IsExpanded)">
                            @data.Title
                        </button>
                        @if (data.IsExpanded)
                        {
                            <div style="@GetCollapseStyle(data)">
                                <div class="list-group">
                                    <div class="p-2">@data.Data</div>
                                </div>
                            </div>
                        }
                    </li>
                }
                <li class="list-group-item p-0 overflow-hidden">
                    <button type="button" class="btn d-flex btn-light w-100 collapse-controller">
                        Стек технологий
                    </button>
                    <div>
                        <div class="list-group">
                            <div class="p-2">
                                <div class="d-flex flex-wrap gap-1">
                                    @foreach (var skill in IdeaSkills)
                                    {
                                        <div class="px-2 py-1 rounded d-flex gap-1 @skill.Type.GetStyle()">
                                            <span class="fs-6">@skill.Name</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        }
        <div class="bg-white d-flex rounded-3 @(isLoading ? "p-2 gap-2" : "p-3 gap-3 flex-wrap")">
            @if (isLoading || CurrentIdea is null)
            {
                @for (int i = 0; i < 3; ++i)
                {
                    <Placeholder Width="w-25" Height="PlaceholderHeight.Small" />
                }
            }
            else
            {
                <button class="btn d-flex btn-light">
                    Редактировать
                </button>
                <button class="btn d-flex btn-success">
                    Отправить на согласование
                </button>
                <button class="btn d-flex btn-danger">
                    Отправить на доработку
                </button>
                <button class="btn d-flex btn-success">
                    Отправить на утверждение
                </button>
            }
        </div>
        <div class="bg-white rounded-3 @(isLoading ? "pb-2" : string.Empty)">
            @if (isLoading)
            {
                <div class="d-grid gap-3 pt-2 px-2 w-100">
                    @for (int chatItem = 0; chatItem < 3; ++chatItem)
                    {
                        <div class="card rounded-3 shadow advertisement @(chatItem % 2 == 0 ? "current-user-advertisement" : string.Empty)">
                            <div class="card-header d-flex gap-3 justify-content-between align-items-center">
                                <Placeholder Width="w-25" />
                                <Placeholder Width="w-75" />
                            </div>
                            <div class="card-body">
                                <Placeholder />
                                <Placeholder />
                            </div>
                        </div>
                    }
                </div>                
            }
            else
            {
                <div class="py-2 w-100 border-bottom">
                    <span class="fs-6 px-3">Комментарии</span>
                </div>
                <div class="d-grid gap-3 pt-3 px-3 w-100">
                    <!--TODO: Личные сообщения имеют дополнительные функции-->
                    <!--TODO: Да и вообще, че я комментарии не реализовл то-->
                    <div class="card rounded-3 shadow advertisement current-user-advertisement">
                        <div class="card-header d-flex justify-content-between align-items-center advertisement-header">
                            <span class="fs-6 text-primary">EXPERT_FULL_NAME</span>
                            <div class="d-flex gap-2 align-items-center">
                                <span class="text-primary">EXPERT_MESSAGE_DATE формат dd.MM.yyyy в HH:mm</span>
                            </div>
                        </div>
                        <div class="card-body py-2">
                            EXPERT_MESSAGE
                        </div>
                    </div>
                </div>
                <form class="p-3">
                    <div class="d-flex gap-3 align-items-start">
                        <div class="w-100">
                            <div class="input-group">
                                <span class="input-group-text fs-6">
                                    <i class="bi bi-chat"></i>
                                </span>
                                <input type="text" placeholder="Добавить комментарий" class="form-control rounded-end" />
                            </div>
                        </div>
                        <button type="submit" class="btn d-flex btn-primary">
                            Отправить
                        </button>
                    </div>
                </form>
            }
        </div>
    </div>
    <div class="idea-modal-side w-25 bg-white rounded @(isLoading ? "pb-3" : string.Empty)">
        @if (isLoading || CurrentIdea is null)
        {
            <div class="bg-primary py-4 rounded-top-3"></div>
            <div class="px-2">
                <Placeholder Width="w-50" />
                <Placeholder />
                <Placeholder />
            </div>
            <div class="px-2">
                <Placeholder Width="w-50" />
                <Placeholder />
                <Placeholder />
                <Placeholder />
            </div>
            <div class="mt-3 px-2">
                <Placeholder />
                <Placeholder Width="w-75" />
                <Placeholder Width="w-75" />
            </div>
        }
        else
        {
            <span class="p-2 bg-primary rounded-top fs-4 text-center text-white">
                @CurrentIdea.Status.GetTranslation()
            </span>
            <div class="w-100 pb-3 px-3 idea-info">
                <div>
                    <span class="fs-6 border-bottom text-secondary d-block">
                        Заказчик
                    </span>
                    <div class="pt-2 idea-sub-info">
                        <i class="bi bi-person-circle text-secondary fs-3 opacity-25"></i>
                        <span class="fs-6 text-primary">@CurrentIdea.Customer</span>
                    </div>
                </div>
                <div>
                    <span class="fs-6 border-bottom text-secondary d-block">
                        Инициатор
                    </span>
                    <div class="pt-2 idea-sub-info">
                        <i class="bi bi-envelope text-secondary fs-3 opacity-25"></i>
                        <div class="text-primary" style="cursor: pointer;">@CurrentIdea.Initiator.FirstName @CurrentIdea.Initiator.LastName</div>
                    </div>
                </div>
                <div>
                    <span class="fs-6 border-bottom text-secondary d-block">
                        Эксперты
                    </span>
                    @foreach (var rating in IdeaRatings)
                    {
                        <div class="pt-2 idea-sub-info">
                            <i class="text-secondary fs-3 bi @(rating.RatingValue is null ? "bi-clock-history opacity-25" : "bi-check-lg opacity-50 text-success")"></i>
                            <span class="fs-6 text-primary">@rating.ExpertFirstName @rating.ExpertLastName</span>
                            <span class="fs-6 @rating.RatingValue.GetStyle()">@rating.RatingValue</span>
                        </div>
                    }
                </div>
                <div>
                    <span class="fs-6 border-bottom text-secondary d-block">
                        Режим
                    </span>
                    <div class="pt-2 idea-sub-info">
                        <i class="bi bi-circle-fill text-success fs-3 opacity-50"></i>
                        <span class="fs-6 text-primary">@CurrentUser?.Role.GetTranslation()</span>
                    </div>
                </div>
                <button type="button" class="btn d-flex btn-primary">
                    Поделиться идеей
                </button>
            </div>
        }
    </div>
</div>