@namespace HITSBlazor.Pages.Admin.AllUsers
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Filters.RadioFilter
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.ListPageComponents.ListPageHeader
@using HITSBlazor.Components.ListPageComponents.ListPageSearch
@using HITSBlazor.Components.Placeholders.TablePlaceholder
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableHeader
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Utils.EnumStyles
@using HITSBlazor.Utils.EnumTranslators
@using HITSBlazor.Utils.Models

<div class="users-content page-content-with-header bg-white">
    @if (_isLoading)
    {
        <TablePlaceholder />
    }
    else
    {
        <div class="w-100 bg-white p-3">
            <ListPageHeader HeaderText="@($"Список пользователей: {_users.Count}")" />
            <ListPageSearch ValueChanged="@((value) => SearchUser(value))" />
            <div class="w-100 d-flex">
                <div class="w-100">
                    <table class="table table-hover mb-0">
                        <TableHeader TableActionMenuIsEnable="true" 
                                     Items="_userTableHeader" 
                                     OrderChanged="@((value) => SortUser(value.Item1, value.Item2))" />
                        <tbody>
                            @foreach (var user in _users)
                            {
                                <tr>
                                    <TableBodyRow>
                                        <div class="text-primary data-link" @onclick="@(() => ShowUserProfile(user.Id))">
                                            @user.Email
                                        </div>
                                    </TableBodyRow>
                                    <TableBodyRow>
                                        @user.FirstName
                                    </TableBodyRow>
                                    <TableBodyRow>
                                        @user.LastName
                                    </TableBodyRow>
                                    <TableBodyRow>
                                        @user.Telephone
                                    </TableBodyRow>
                                    <TableBodyRow>
                                        @user.StudyGroup
                                    </TableBodyRow>
                                    <TableBodyRow IsCentered="true">
                                        @(user.CreatedAt.HasValue ? user.CreatedAt.Value.ToString("dd.MM.yyyy") : "Н/Д")
                                    </TableBodyRow>
                                    <TableBodyRow>
                                        @foreach (var role in user.Roles)
                                        {
                                            <div class="px-2 py-1 rounded-4 text-center align-self-start @role.GetStyle()">
                                                @role.GetTranslation()
                                            </div>
                                        }
                                    </TableBodyRow>
                                    <TableActionMenu ItemId="@user.Id"
                                                     OnAction="OnUserAction"
                                                     ActionIds="@(new Dictionary<MenuAction, object> { 
                                                         [MenuAction.ViewProfile] = user.Id,
                                                         [MenuAction.Edit] = user,
                                                         [MenuAction.Delete] = user
                                                     })" />
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="list-page-filter w-25 bg-white p-2 ms-2 border-start">
                    <div class="w-100">
                        <Typography FontSize="6"CustomClass="fw-semibold">
                            Роли
                        </Typography>
                        <div class="list-page-filter-choices">
                            @foreach (var role in Enum.GetValues<RoleType>())
                            {
                                <div class="list-page-filter-choice px-2 py-1 rounded-1">
                                    <div class="d-flex">
                                        <input type="checkbox"
                                               checked="@SelectedUserRoles.Contains(role)"
                                               @onchange="@(e => OnRoleTypeChanged(role, (bool)e.Value!))"
                                               class="form-check-input" />
                                        <Typography CustomClass="form-check-label ms-2">
                                            @role.GetTranslation()
                                        </Typography>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- TODO: реализовать фильтр -->
                    <RadioFilter Label="Студенты"
                                 Value1Text="В команде"
                                 Value2Text="Не в команде"
                                 @bind-Value="InTeam"
                                 OnFilterChanged="@LoadUsersAsync" />

                    <div class="w-100 d-flex justify-content-center">
                        <Button BtnType="ButtonType.Button" 
                                Variant="ButtonVariant.Danger"
                                Text="Сбросить фильтры" 
                                IconStyle="bi-x-lg" 
                                OnButtonClick="ResetFilters" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>