@namespace HITSBlazor.Pages.Admin.AllUsers
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Filters.CheckboxFilter
@using HITSBlazor.Components.Filters.RadioFilter
@using HITSBlazor.Components.Filters.ResetFilterButton
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.ListPageComponents.ListPageHeader
@using HITSBlazor.Components.ListPageComponents.ListPageSearch
@using HITSBlazor.Components.ListPageComponents.ListPageTable
@using HITSBlazor.Components.Placeholders.TablePlaceholder
@using HITSBlazor.Components.Statuses.EnumStatus
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableHeader
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Utils.EnumStyles
@using HITSBlazor.Utils.Models

<div class="page-content-with-header bg-white overflow-y-scroll">
    <div class="w-100 bg-white p-3">
        <ListPageHeader IsLoading="_isLoading" HeaderText="@($"Список пользователей: {_users.Count}")" />
        <ListPageSearch IsLoading="_isLoading" ValueChanged="@((value) => SearchUser(value))" />
        <ListPageTable IsLoading="_isLoading" TableActionMenuIsEnable="true" HeaderItems="_userTableHeader" OrderMethod="SortUser">
            <TableContent>
                <tbody>
                    @foreach (var user in _users)
                    {
                        <tr>
                            <TableBodyRow>
                                <div class="text-primary data-link" @onclick="@(() => ShowUserProfile(user.Id))">
                                    @user.Email
                                </div>
                            </TableBodyRow>
                            <TableBodyRow>
                                @user.FirstName
                            </TableBodyRow>
                            <TableBodyRow>
                                @user.LastName
                            </TableBodyRow>
                            <TableBodyRow>
                                @user.Telephone
                            </TableBodyRow>
                            <TableBodyRow>
                                @user.StudyGroup
                            </TableBodyRow>
                            <TableBodyRow IsCentered="true">
                                @(user.CreatedAt.HasValue? user.CreatedAt.Value.ToString("dd.MM.yyyy") : "Н/Д")
                            </TableBodyRow>
                            <TableBodyRow>
                                @foreach (var role in user.Roles)
                                {
                                    <EnumStatus Statustype="role" />
                                }
                            </TableBodyRow>
                            <TableActionMenu ItemId="@user.Id"
                                             OnAction="OnUserAction"
                                             ActionIds="GetActions(user)" />
                        </tr>
                    }
                </tbody>
            </TableContent>
            <FilterContent>
                <CheckboxFilter T="EnumViewModel<RoleType>"
                                IsLoading="_isLoading"
                                AllValues="_filterRoleTypes"
                                Label="Роли"
                                @bind-SelectedValues="SelectedUserRoles"
                                FilterChanged="LoadUsersAsync" />
                <!-- TODO: реализовать фильтр -->
                <RadioFilter T="ValueViewModel<bool?>"
                             IsLoading="_isLoading"
                             Label="Студенты"
                             AllValues="_inTeamFilterValues"
                             @bind-Value="InTeam"
                             OnFilterChanged="@LoadUsersAsync" />
                <ResetFilterButton IsLoading="_isLoading" ResetMethod="ResetFilters" />
            </FilterContent>
        </ListPageTable>
    </div>
</div>