@namespace HITSBlazor.Components.GlobalNotification
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Typography
@using HITSBlazor.Services
@using HITSBlazor.Utils.Models
@implements IDisposable

@if (_notifications.Count > 0)
{
    <div class="notification-container">
        @foreach (var notification in _notifications)
        {
            @if (notification.Type is NotificationType.Info)
            {
                <div class="card text-primary @notification.AlertAnimation">
                    <div class="card-header d-flex flex-row justify-content-between">
                        <Typography FontSize="6">
                            @notification.Title
                        </Typography>
                        <Button ButtonClass="btn-close" OnButtonClick="async () => await HideNotification(notification.Id)" />
                    </div>
                    <div class="card-body">
                        @notification.Message
                    </div>
                </div>
            }
            else
            {
                <div class="alert @(EnumViewModel<NotificationType>.GetStyle(notification.Type)) alert-dismissible show fade @notification.AlertAnimation"
                     style="--notification-index: @notification.Index;"
                     role="alert">
                    <div class="notification-content">@notification.Message</div>
                    <Button ButtonClass="btn-close" OnButtonClick="async () => await HideNotification(notification.Id)" />
                </div>
            }
        }
    </div>
}

@code {
    [Inject]
    private GlobalNotificationService NotificationService { get; set; } = null!;

    private List<GlobalNotificationItem> _notifications = [];
    private bool _isDisposed;

    protected override void OnInitialized()
    {
        NotificationService.OnErrorNotification += ShowError;
        NotificationService.OnSuccessNotification += ShowSuccess;
        NotificationService.OnClearNotification += ClearAll;
    }

    private async void ShowError(string errorMessage) => await ShowNotification(errorMessage, NotificationType.Error);

    private async void ShowSuccess(string successMessage) => await ShowNotification(successMessage, NotificationType.Success);

    private async Task ShowNotification(string message, NotificationType type, string? title = null)
    {
        var existNtf = _notifications.FirstOrDefault(n => n.Message == message);
        if (existNtf is not null)
        {
            var index = _notifications.IndexOf(existNtf);
            if (index > 0)
            {
                existNtf.AlertAnimation = "alert-slide-out";
                StateHasChanged();
                await Task.Delay(300);
                _notifications.RemoveAt(index);
                StateHasChanged();
                existNtf.AlertAnimation = "alert-slide-in";
                _notifications.Insert(0, existNtf);
                StateHasChanged();
                await Task.Delay(300);
                existNtf.AlertAnimation = string.Empty;
                StateHasChanged();
                UpdateNotificationIndices();
                StateHasChanged();
            }
            await StartAutoRemoveTimer(existNtf);

            return;
        }

        var notification = new GlobalNotificationItem
        {
            Id = Guid.NewGuid(),
            Title = string.IsNullOrWhiteSpace(title) ? EnumViewModel<NotificationType>.GetTranslation(type) : title,
            Message = message,
            Type = type,
            Index = _notifications.Count
        };

        _notifications.Insert(0, notification);
        StateHasChanged();
        await Task.Delay(300);
        notification.AlertAnimation = string.Empty;
        StateHasChanged();
        UpdateNotificationIndices();
        StateHasChanged();

        await StartAutoRemoveTimer(notification);
    }

    private async Task StartAutoRemoveTimer(GlobalNotificationItem notification)
    {
        notification.AutoRemoveCts?.Cancel();
        notification.AutoRemoveCts?.Dispose();

        notification.AutoRemoveCts = new CancellationTokenSource();

        await AutoRemoveNotificationAsync(notification.Id, notification.AutoRemoveCts.Token);
    }

    private async Task AutoRemoveNotificationAsync(Guid notificationId, CancellationToken cancellationToken)
    {
        try
        {
            await Task.Delay(5000, cancellationToken);

            if (!cancellationToken.IsCancellationRequested)
            {
                await InvokeAsync(async () =>
                {
                    await HideNotificationWithAnimation(notificationId);
                });
            }
        }
        catch (TaskCanceledException)
        {
            
        }
    }

    private async Task HideNotificationWithAnimation(Guid id)
    {
        if (_isDisposed) return;

        var ntf = _notifications.FirstOrDefault(n => n.Id == id);
        if (ntf is null) return;

        ntf.AlertAnimation = "alert-slide-out";
        StateHasChanged();
        await Task.Delay(300);

        if (_isDisposed) return;

        _notifications.RemoveAll(n => n.Id == id);
        UpdateNotificationIndices();
        StateHasChanged();

        ntf.Dispose();
    }

    private async Task HideNotification(Guid id)
    {
        await HideNotificationWithAnimation(id);
    }

    private void UpdateNotificationIndices()
    {
        for (int i = 0; i < _notifications.Count; ++i)
            _notifications[i].Index = i;
    }

    private void ClearAll()
    {
        _notifications.Clear();
        StateHasChanged();
    }

    public void Dispose()
    {
        _isDisposed = true;

        NotificationService.OnErrorNotification -= ShowError;
        NotificationService.OnSuccessNotification -= ShowSuccess;
        NotificationService.OnClearNotification -= ClearAll;

        foreach (var notification in _notifications)
            notification.Dispose();

        _notifications.Clear();
    }
}