@namespace HITSBlazor.Components.ShowIdeaModal
@using HITSBlazor.Components.Placeholder
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Models.Ideas.Entities
@using HITSBlazor.Models.Users.Entities
@using HITSBlazor.Services.Auth
@using HITSBlazor.Services.IdeaRatings
@using HITSBlazor.Services.IdeaSkills
@using HITSBlazor.Services.Ideas

<div class="idea-modal p-3 h-100 overflow-y-scroll" @onclick:stopPropagation="true">
    <div class="w-75" style="@placeholder_style">
        @if (isLoading || CurrentIdea is null)
        {
            <Placeholder Width="w-75" />
            <div class="p-2 bg-white rounded-3 d-flex flex-column gap-1">
                <Placeholder Width="w-50" />
                <Placeholder />
                <Placeholder />
                <Placeholder />
            </div>
        }
        else
        {
            <div style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: stretch; justify-content: flex-start; gap: 16px;">
                <button class="btn d-flex btn-primary">
                    <i class="bi bi-backspace-fill fs-5"></i>
                    Назад
                </button>
                <span class="p-2 w-100 bg-white rounded-3 fs-4 text-primary text-nowrap overflow-x-scroll">
                    @CurrentIdea.Name
                </span>
            </div>
            <ul class="list-group rounded-3">
                <!-- //TODO: Текст можно скрывать, нужно реализовать это, похоже на скрытие и открытие в навигации -->
                @foreach (var data in ideaData)
                {
                    <li class="list-group-item p-0 overflow-hidden">
                        <button type="button" class="btn d-flex btn-light w-100" @onclick="@(() => data.IsExpanded = !data.IsExpanded)"
                                style="border-radius: 0; background-color: #fff; color: #0d6efd; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: flex-start;">
                            @data.Title
                        </button>
                        @if (data.IsExpanded)
                        {
                            <div style="@GetCollapseStyle(data)">
                                <div class="list-group">
                                    <div class="p-2">@data.Data</div>
                                </div>
                            </div>
                        }
                    </li>
                }
                <li class="list-group-item p-0 overflow-hidden">
                    <button type="button" class="btn d-flex btn-light w-100"
                            style="border-radius: 0; background-color: #fff; color: #0d6efd; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: flex-start;">
                        Стек технологий
                    </button>
                    <div>
                        <div class="list-group">
                            <div class="p-2">
                                <div class="d-flex flex-wrap gap-1">
                                    @foreach (var skill in IdeaSkills)
                                    {
                                        <div class="px-2 py-1 rounded d-flex gap-1 @GetSkillClass(skill.Type)">
                                            <span class="fs-6">@skill.Name</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        }
        <div class="bg-white d-flex rounded-3 @(isLoading ? "p-2 gap-2" : "p-3 gap-3 flex-wrap")">
            @if (isLoading || CurrentIdea is null)
            {
                @for (int i = 0; i < 3; ++i)
                {
                    <Placeholder Width="w-25" Height="PlaceholderHeight.Small" />
                }
            }
            else
            {
                <button class="btn d-flex btn-light">
                    Редактировать
                </button>
                <button class="btn d-flex btn-success">
                    Отправить на согласование
                </button>
                <button class="btn d-flex btn-danger">
                    Отправить на доработку
                </button>
                <button class="btn d-flex btn-success">
                    Отправить на утверждение
                </button>
            }
        </div>
        <div class="bg-white rounded-3 @(isLoading ? "pb-2" : string.Empty)">
            @if (isLoading)
            {
                <div class="d-grid gap-3 pt-2 px-2 w-100">
                    @for (int chatItem = 0; chatItem < 3; ++chatItem)
                    {
                        <div class="card rounded-3 shadow" style="@advertisementStyle @(chatItem % 2 == 0 ? currentUserCommentStyle : string.Empty)">
                            <div class="card-header d-flex gap-3 justify-content-between align-items-center">
                                <Placeholder Width="w-25" />
                                <Placeholder Width="w-75" />
                            </div>
                            <div class="card-body">
                                <Placeholder />
                                <Placeholder />
                            </div>
                        </div>
                    }
                </div>                
            }
            else
            {
                <div class="py-2 w-100 border-bottom">
                    <span class="fs-6 px-3">Комментарии</span>
                </div>
                <div class="d-grid gap-3 pt-3 px-3 w-100">
                    <!--TODO: Личные сообщения имеют дополнительные функции-->
                    <div class="card rounded-3 shadow" style="@advertisementStyle @currentUserCommentStyle">
                        <div class="card-header d-flex justify-content-between align-items-center" style="transition: background-color 5s ease-out;">
                            <span class="fs-6 text-primary">EXPERT_FULL_NAME</span>
                            <div class="d-flex gap-2 align-items-center">
                                <span class="text-primary">EXPERT_MESSAGE_DATE формат dd.MM.yyyy в HH:mm</span>
                            </div>
                        </div>
                        <div class="card-body py-2">
                            EXPERT_MESSAGE
                        </div>
                    </div>
                </div>
                <form class="p-3">
                    <div class="d-flex gap-3 align-items-start">
                        <div class="w-100">
                            <div class="input-group">
                                <span class="input-group-text fs-6">
                                    <i class="bi bi-chat"></i>
                                </span>
                                <input type="text" placeholder="Добавить комментарий" class="form-control rounded-end" />
                            </div>
                        </div>
                        <button type="submit" class="btn d-flex btn-primary">
                            Отправить
                        </button>
                    </div>
                </form>
            }
        </div>
    </div>
    <div class="w-25 bg-white rounded @(isLoading ? "pb-3" : string.Empty)" style="@placeholder_style">
        @if (isLoading || CurrentIdea is null)
        {
            <div class="bg-primary py-4 rounded-top-3"></div>
            <div class="px-2">
                <Placeholder Width="w-50" />
                <Placeholder />
                <Placeholder />
            </div>
            <div class="px-2">
                <Placeholder Width="w-50" />
                <Placeholder />
                <Placeholder />
                <Placeholder />
            </div>
            <div class="mt-3 px-2">
                <Placeholder />
                <Placeholder Width="w-75" />
                <Placeholder Width="w-75" />
            </div>
        }
        else
        {
            <span class="p-2 bg-primary rounded-top fs-4 text-center text-white">
                @CurrentIdea.Status
            </span>
            <div class="w-100 pb-3 px-3"
                 style="@leftSideIdeaStyle flex-direction: column; align-items: stretch; gap: 16px;">
                <div>
                    <span class="fs-6 border-bottom text-secondary d-block">
                        Заказчик
                    </span>
                    <div class="pt-2" style="@leftSideIdeaStyle @leftSideIdeaDataStyle">
                        <i class="bi bi-person-circle text-secondary fs-3 opacity-25"></i>
                        <span class="fs-6 text-primary">@CurrentIdea.Customer</span>
                    </div>
                </div>
                <div>
                    <span class="fs-6 border-bottom text-secondary d-block">
                        Инициатор
                    </span>
                    <div class="pt-2" style="@leftSideIdeaStyle @leftSideIdeaDataStyle">
                        <i class="bi bi-envelope text-secondary fs-3 opacity-25"></i>
                        <div class="text-primary" style="cursor: pointer;">@CurrentIdea.Initiator.FirstName @CurrentIdea.Initiator.LastName</div>
                    </div>
                </div>
                <div>
                    <span class="fs-6 border-bottom text-secondary d-block">
                        Эксперты
                    </span>
                    @foreach (var rating in IdeaRatings)
                    {
                        <div class="pt-2" style="@leftSideIdeaStyle @leftSideIdeaDataStyle">
                            <i class="text-secondary fs-3 opacity-25 bi bi-check-lg text-success opacity-50"></i>
                            <span class="fs-6 text-primary">@rating.ExpertFirstName @rating.ExpertLastName</span>
                            <span class="fs-6 text-success">@rating.RatingValue</span>
                        </div>
                    }
                </div>
                <div>
                    <span class="fs-6 border-bottom text-secondary d-block">
                        Режим
                    </span>
                    <div class="pt-2" style="@leftSideIdeaStyle @leftSideIdeaDataStyle">
                        <i class="bi bi-circle-fill text-success fs-3 opacity-50"></i>
                        <span class="fs-6 text-primary">@CurrentUser?.Role</span>
                    </div>
                </div>
                <button type="button" class="btn d-flex btn-primary">
                    Поделиться идеей
                </button>
            </div>
        }
    </div>
</div>

@code {
    [Inject]
    private IAuthService AuthService { get; set; } = null!;

    [Inject]
    private IIdeasService IdeasService { get; set; } = null!;

    [Inject]
    private IIdeaSkillService IdeaSkillService { get; set; } = null!;

    [Inject]
    private IIdeaRatingService IdeaRatingService { get; set; } = null!;

    [Parameter]
    public Guid IdeaId { get; set; }

    private bool isLoading = true;

    private string placeholder_style = "height: fit-content; display: flex; flex-direction: column; flex-wrap: nowrap; align-items: stretch; justify-content: flex-start; gap: 16px;";
    private string advertisementStyle = "width: 400px;";
    private string currentUserCommentStyle = "justify-self: end;";
    private string leftSideIdeaStyle = "display: flex; flex-wrap: nowrap; justify-content: flex-start;";
    private string leftSideIdeaDataStyle = "flex-direction: row; align-items: center; gap: 8px;";

    private User? CurrentUser { get; set; } = null;
    private Idea? CurrentIdea { get; set; } = null;
    private List<Skill> IdeaSkills { get; set; } = [];
    private List<Rating> IdeaRatings { get; set; } = [];
    private bool isExpanded = false;

    private List<ShowIdeaModalItem> ideaData = [];

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;

        CurrentUser = AuthService.CurrentUser;
        CurrentIdea = await IdeasService.GetIdeaByIdAsync(IdeaId);
        IdeaSkills = await IdeaSkillService.GetAllIdeaSkillsAsync(IdeaId);
        ideaData = GetIdeaData(CurrentIdea, IdeaSkills);
        IdeaRatings = await IdeaRatingService.GetIdeaRatingsAsync(IdeaId);

        isLoading = false;
    }

    private static List<ShowIdeaModalItem> GetIdeaData(Idea? idea, List<Skill> skills)
    {
        return
        [
            new ShowIdeaModalItem
            {
                Title = "Проблема",
                Data = idea?.Problem
            },
            new ShowIdeaModalItem
            {
                Title = "Предлагаемое решение",
                Data = idea?.Solution
            },
            new ShowIdeaModalItem
            {
                Title = "Ожидаемый результат",
                Data = idea?.Result
            },
            new ShowIdeaModalItem
            {
                Title = "Описание необходимых ресурсов для реализации",
                Data = idea?.Description
            },
            // new ShowIdeaModalItem
            // {
            //     Title = "Стек технологий",
            //     Data = skills
            // }
        ];
    }

    private string GetSkillClass(SkillType type) => type switch
    {
        SkillType.Language => "bg-success-subtle text-success",
        SkillType.Framework => "bg-info-subtle text-info",
        SkillType.Database => "bg-warning-subtle text-warning",
        SkillType.Devops => "bg-danger-subtle text-danger",
        _ => string.Empty
    };

    private string GetCollapseStyle(ShowIdeaModalItem item)
    {
        if (!item.IsExpanded)
            return "height: 0px; overflow: hidden; transition: height 0.35s ease;";

        return $"overflow: hidden; transition: height 0.35s ease;";
    }
}