@namespace HITSBlazor.Components.ActionsMenus.CommentActionMenu
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Utils.EnumUIConverters
@using HITSBlazor.Utils.Models
@inherits BaseActionMenuComponent

<div @ref="_containerRef">
    <button @ref="_triggerRef"
            @onclick="@ToggleMenu"
            type="button"
            class="btn d-flex btn-primary p-1"
            aria-expanded="@IsOpen">
        <i class="bi bi-list fs-5 flip-icon @(IsOpen ? "active" : string.Empty)"></i>
    </button>
    <div @ref="_menuRef"
         @onclick:stopPropagation
         class="dropdown-menu action-modal @(IsOpen ? "is-visible" : "")">
        <ul class="list-group list-group-flush">
            @foreach (var action in ActionIds)
            {
                var uiResult = EnumUIConverter.GetInfo(action.Key);
                <li @onclick="@(() => HandleActionClick(action.Key, action.Value))"
                    class="list-group-item list-group-item-action px-2 py-1 @uiResult.DisplayStyle">
                    @uiResult.DisplayText
                </li>
            }
        </ul>
    </div>
</div>