@namespace HITSBlazor.Components.PageHeader
@using HITSBlazor.Models.Users.Entities
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Services
@using HITSBlazor.Services.Auth
@using HITSBlazor.Utils
@inject IAuthService AuthService
@implements IDisposable

<div class="bg-white border-bottom w-100" 
     style="position: sticky; top: 0; right: 0; bottom: auto; left: 0; z-index: 6; height: min-content;">
    <div class="py-2 px-3 bg-white w-100" 
         style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: space-between;">
        <div class="d-flex gap-2 align-items-center">
            <div class="rounded-circle overflow-hidden" 
                 style="height: 58px; min-height: 58px; max-height: 58px; width: 58px; min-width: 58px; max-width: 58px;">
                <img class="text-secondary" width="58" height="58" src="/images//defProfile.png" />
            </div>
            <div class="d-flex gap-1 flex-column">
                <!-- TODO: При нажатии вызывать боковую панель профиля ТЕКУЩЕГО пользователя -->
                <div class="fw-semibold" style="width: fit-content; cursor: pointer;">
                    <span class="fs-6">@CurrentUser?.FirstName @CurrentUser?.LastName</span>
                </div>
                <!-- TODO: При нажатии вызывать окно выбора АКТИВНОЙ роли -->
                <button type="button" 
                        class="btn d-flex btn-outline-success btn-sm rounded-4 py-1" style="width: fit-content; @Styles.Btn">
                    <i class="bi-circle-fill fs-6" style="@Styles.Bi"></i>
                    @CurrentRole
                </button>
            </div>
        </div>
        <div class="d-flex gap-2">
            <!-- TODO: При нажатии вызывать ссылку на тг, но на кого??? -->
            <button type="button" class="btn d-flex btn-primary" style="@Styles.Btn">
                <i class="bi-telegram fs-5" style="@Styles.Bi"></i>
            </button>
            <!-- TODO: При нажатии вызывать боковую панель уведомлений -->
            <button type="button" class="btn d-flex btn-primary position-relative" style="@Styles.Btn">
                <i class="bi-bell-fill fs-5" style="@Styles.Bi"></i>
            </button>
        </div>
    </div>
</div>

@code {
    private User? CurrentUser { get; set; } = null;
    private RoleType? CurrentRole { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            AuthService.OnAuthStateChanged += AuthStateChanged;
            AuthService.OnActiveRoleChanged += RoleStateChanged;
            CurrentUser = AuthService.CurrentUser;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Ошибка инициализации MainLayout: {ex.Message}");
        }
    }

    public void AuthStateChanged() => CurrentUser = AuthService.CurrentUser;

    public void RoleStateChanged(RoleType? role)
    {
        CurrentRole = role;
        StateHasChanged();
    }

    public void Dispose()
    {
        AuthService.OnAuthStateChanged -= AuthStateChanged;
        AuthService.OnActiveRoleChanged -= RoleStateChanged;
    }
}