@namespace HITSBlazor.Pages.IdeasList
@using HITSBlazor.Services

<PageTitle>Портал ВШЦТ</PageTitle>

<div class="bg-white" style="height: auto; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; overflow-y: scroll; align-items: stretch;">
    <div class="w-100 bg-white p-3">
        <div class="w-100" style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: space-between; gap: 16px;">
            <span class="fs-2 text-primary">Список идей: IDEAS_COUNT</span>
            <div class="d-flex gap-3">
                @if (showCreateIdeaButton)
                {
                    <button class="btn d-flex btn-primary" style="@Styles.Btn">
                        <i class="bi-plus-lg fs-5"
                           style="@Styles.Bi">
                        </i>
                        Создать идею
                    </button>
                }
            </div>
        </div>
        <div class="py-2 d-flex justify-content-between">
            <div class="w-50">
                <div class="w-100">
                    <div class="input-group">
                        <span class="input-group-text fs-6">
                            <i class="bi-search" style="@Styles.Bi">
                            </i>
                        </span>
                        <input type="text" placeholder="Поиск" class="form-control rounded-end" />
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 d-flex">
            <div class="w-100">
                <table class="table table-hover mb-0">
                    <tbody>
                        <tr>
                            <td class="@tableDataClass">
                                <div class="@tableDataContentClass">
                                    <!-- text-success если идея просмотрена -->
                                    <!-- text-secondary если идея НЕ просмотрена -->
                                    <div class="bi-circle-fill fs-6 mt-1 text-success" style="@Styles.Bi">
                                        <div></div>
                                    </div>
                                </div>
                            </td>
                            <td class="@tableDataClass">
                                <div class="@tableDataContentClass">
                                    <div style="cursor: pointer;">
                                        <div>IDEA_NAME</div>
                                    </div>
                                </div>
                            </td>
                            <td class="@tableDataClass">
                                <div class="@tableDataContentCenterClass">
                                    <!-- bg-primary-subtle text-primary если идея новая -->
                                    <!-- bg-success-subtle text-success если идея опубликована или на бирже -->
                                    <!-- bg-warning-subtle text-warning если идея на согласовании или на редактировании -->
                                    <!-- bg-danger-subtle text-danger если идея на утверждении -->
                                    <div class="px-2 py-1 rounded-4 bg-success-subtle text-success">
                                        <div>Опубликована</div>
                                    </div>
                                </div>
                            </td>
                            <td class="@tableDataClass">
                                <div class="@tableDataContentCenterClass">
                                    <div class="">
                                        <div>IDEA_CREATED_DATE</div>
                                    </div>
                                </div>
                            </td>
                            <td class="@tableDataClass">
                                <div class="@tableDataContentCenterClass">
                                    <div class="">
                                        <div>IDEA_UPDATED_DATE</div>
                                    </div>
                                </div>
                            </td>
                            <td class="@tableDataClass">
                                <div class="justify-content-center @tableDataContentClass">
                                    <!-- text-danger если рейтинг меньше 3.0 -->
                                    <!-- text-warning если рейтинг 3.0 - 3.9 -->
                                    <!-- text-success если рейтинг больше 4.0 -->
                                    <div class="text-danger">
                                        <div>IDEA_RATING_ON_CREATION</div>
                                    </div>
                                </div>
                            </td>
                            <td class="@tableDataClass">
                                <div class="justify-content-center @tableDataContentClass">
                                    <div class="text-success">
                                        <div>IDEA_RATING_BY_EXERTS</div>
                                    </div>
                                </div>
                            </td>
                            <td class="py-3">
                                <div @onclick="ChangeDropdownMenuStatus"
                                     class="float-end"
                                     style="min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px; border-radius: 50%; width: 100%; cursor: pointer; display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: center; transition: all .2s ease-out;">
                                     <i class="icon bi bi-three-dots fs-5"></i>
                                    <div class="dropdown-menu @(dropdownMenuIsShowed ? "show" : "")" 
                                         style="@(dropdownMenuIsShowed ? "position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(1504px, 234px);" : "")"
                                         data-popper-placement="@(dropdownMenuIsShowed ? "bottom-start" : "")">
                                         <ul class="list-group list-group-flush">
                                             <li class="list-group-item list-group-item-action px-2 py-1">Просмотреть</li>
                                             <li class="list-group-item list-group-item-action px-2 py-1">Редактировать</li>
                                             <li class="list-group-item list-group-item-action px-2 py-1 text-danger">Удалить</li>
                                         </ul>
                                     </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="w-25 bg-white p-2 ms-2 border-start"
                 style="display: flex; flex-direction: column; flex-wrap: nowrap; align-items: stretch; justify-content: flex-start; gap: 8px;">
                 <div class="w-100">
                     <span class="fs-6 fw-semibold">Статус</span>
                    <div style="max-height: 192px; overflow-y: scroll;">
                        <div class="px-2 py-1 rounded-1"
                             style="@filterChoiceStyle">
                             <div class="d-flex">
                                 <input type="checkbox" name="Статус" value="NEW" class="form-check-input" />
                                 <span class="form-check-label ms-2">Новая</span>
                             </div>
                        </div>
                        <div class="px-2 py-1 rounded-1"
                             style="@filterChoiceStyle">
                            <div class="d-flex">
                                <input type="checkbox" name="Статус" value="ON_EDITING" class="form-check-input" />
                                <span class="form-check-label ms-2">На редактировании</span>
                            </div>
                        </div>
                        <div class="px-2 py-1 rounded-1"
                             style="@filterChoiceStyle">
                            <div class="d-flex">
                                <input type="checkbox" name="Статус" value="ON_APPROVAL" class="form-check-input" />
                                <span class="form-check-label ms-2">На согласовании</span>
                            </div>
                        </div>
                        <div class="px-2 py-1 rounded-1"
                             style="@filterChoiceStyle">
                            <div class="d-flex">
                                <input type="checkbox" name="Статус" value="ON_CONFIRMATION" class="form-check-input" />
                                <span class="form-check-label ms-2">На утверждении</span>
                            </div>
                        </div>
                        <div class="px-2 py-1 rounded-1"
                             style="@filterChoiceStyle">
                            <div class="d-flex">
                                <input type="checkbox" name="Статус" value="CONFIRMED" class="form-check-input" />
                                <span class="form-check-label ms-2">Утверждена</span>
                            </div>
                        </div>
                        <div class="px-2 py-1 rounded-1"
                             style="@filterChoiceStyle">
                            <div class="d-flex">
                                <input type="checkbox" name="Статус" value="ON_MARKET" class="form-check-input" />
                                <span class="form-check-label ms-2">Опубликована</span>
                            </div>
                        </div>
                     </div>
                 </div>
                 <div class="w-100 d-flex justify-content-center">
                    <button type="button" class="btn d-flex btn-danger" style="@Styles.Btn">
                        <i class="bi-x-lg fs-5" style="@Styles.Bi"></i>
                         Сбросить фильтры
                     </button>
                 </div>
            </div>
        </div>
    </div>
</div>

@code {
    private bool showCreateIdeaButton = true;

    private string tableDataClass = "py-3 col align-self-center";
    private string tableDataContentClass = "flex-wrap d-flex gap-1";
    private string tableDataContentCenterClass = "justify-content-center align-items-center text-center flex-wrap d-flex gap-1";
    private bool dropdownMenuIsShowed = false;

    private string filterChoiceStyle = "cursor: pointer; display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: space-between; transition: background-color;";

    private void ChangeDropdownMenuStatus() => dropdownMenuIsShowed = !dropdownMenuIsShowed;
}


