@namespace HITSBlazor.Pages.Ideas.IdeasList
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Filters.CheckboxFilter
@using HITSBlazor.Components.Filters.ResetFilterButton
@using HITSBlazor.Components.InputSearch
@using HITSBlazor.Components.Inputs.Checkbox
@using HITSBlazor.Components.Inputs.CheckboxDropdown
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.ListPageComponents.ListPageHeader
@using HITSBlazor.Components.ListPageComponents.ListPageSearch
@using HITSBlazor.Components.ListPageComponents.ListPageTable
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Placeholders.TablePlaceholder
@using HITSBlazor.Components.Statuses.EnumStatus
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableComponent
@using HITSBlazor.Components.Tables.TableHeader
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Ideas.Entities
@using HITSBlazor.Models.Ideas.Enums
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Utils
@using HITSBlazor.Utils.EnumStyles
@using HITSBlazor.Utils.Models

<div class="bg-white h-auto overflow-y-scroll" @ref="_tableContainer">
    <div class="w-100 p-3">
        <ListPageHeader IsLoading="_isLoading"
                        HeaderText="@($"Список идей: {_totalCount}")"
                        ShowCreateButton="AuthService.CurrentUser?.Role is RoleType.Initiator or RoleType.Admin"
                        CreateButtonText="Создать идею" 
                        OnButtonClick="@(() => NavigationService.NavigateToAsync("ideas/create"))" />
        <div class="py-2 d-flex justify-content-between">
            <Input Width="50" 
                   IconStyle="bi-search" 
                   Placeholder="Поиск" 
                   Value="@_searchText" 
                   ValueChanged="@((value) => SearchIdea(value))"
                   DebounceDelay="500" />
            @if (AuthService.CurrentUser?.Role is RoleType.ProjectOffice or RoleType.Admin)
            {
                <Button Text="Отправить на биржу" 
                        Variant="ButtonVariant.Primary" 
                        OnButtonClick="() => ShowSendIdeaOnMarket()" />
            }
        </div>
        <!-- TODO: если идей нет, то сообщить пользователю, что идеи не найдены, но это как ИДЕЯ -->
        <TableComponent IsLoading="_isLoading" TableActionMenuIsEnable="true">
            <TableContent>
                @foreach (var idea in _ideas)
                {
                    <tr>
                        @if (AuthService.CurrentUser?.Role is RoleType.ProjectOffice or RoleType.Admin)
                        {
                            <TableBodyRow>
                                @if (idea.Status is IdeaStatusType.Confirmed)
                                {
                                    <Checkbox Checked="_selectedIdeas.Contains(idea)" 
                                              OnClick="() => SelectIdea(idea)" />
                                }
                            </TableBodyRow>
                        }
                        <TableBodyRow>
                            <div class="bi bi-circle-fill fs-6 mt-1 @(idea.IsChecked ? "text-success" : "text-secondary")">
                                <div></div>
                            </div>
                        </TableBodyRow>
                        <TableBodyRow>
                            <div class="data-link"
                                 @onclick="() => OnIdeaAction(new() { Action = MenuAction.View, Item = idea.Id })">
                                @idea.Name
                            </div>
                        </TableBodyRow>
                        <TableBodyRow IsCentered="true">
                            <EnumStatus Statustype="idea.Status" />
                        </TableBodyRow>
                        <TableBodyRow IsCentered="true">
                            @idea.CreatedAt.ToString("dd.MM.yyyy")
                        </TableBodyRow>
                        <TableBodyRow IsCentered="true">
                            @idea.ModifiedAt.ToString("dd.MM.yyyy")
                        </TableBodyRow>
                        <TableBodyRow IsCentered="true">
                            <div class="@idea.PreAssessment.GetStyle()">
                                @idea.PreAssessment
                            </div>
                        </TableBodyRow>
                        <TableBodyRow IsCentered="true">
                            <div class="@idea.Rating.GetStyle()">
                                @idea.Rating
                            </div>
                        </TableBodyRow>
                        <TableActionMenu ItemId="@idea.Id"
                                         StrategyPosition="Strategy.Fixed"
                                         OnAction="OnIdeaAction"
                                         ActionIds="GetTableActions(idea)" />
                    </tr>
                }
            </TableContent>
            <FilterContent>
                <CheckboxFilter T="EnumViewModel<IdeaStatusType>" 
                                IsLoading="_isLoading"
                                Label="Статус" 
                                AllValues="_filterIdeaStatus"
                                FilterChanged="() => LoadIdeasAsync()"
                                @bind-SelectedValues="SelectedStatuses" />
                <ResetFilterButton IsLoading="_isLoading" ResetMethod="ResetFilters" />
            </FilterContent>
        </TableComponent>
        <!-- TODO: заменить на что то другое -->
        @if (_isLoadingMore)
        {
            <div class="text-center py-3">
                <div class="spinner-border spinner-border-sm text-primary" role="status">
                    <span class="visually-hidden">Загрузка...</span>
                </div>
            </div>
        }
    </div>
</div>