@namespace HITSBlazor.Pages.Tests.CurrentTestsResults
@using HITSBlazor.Components.ListPageComponents.ListPageHeader
@using HITSBlazor.Components.ListPageComponents.ListPageSearch
@using HITSBlazor.Components.ListPageComponents.ListPageTable
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableHeader

<div class="bg-white h-auto">
    <div class="w-100 bg-white p-3">
        <!-- TODO: реализовать выгрузку результатов -->
        <ListPageHeader HeaderText="@($"Результаты: {_searchedResults.Count}")"
                        ShowCreateButton="true"
                        CreateButtonText="Скачать результаты" 
                        CreateButtonIconStyle="bi-filetype-txt" />
        <ListPageSearch ValueChanged="@((value) => SearchResult(value))" />
        <ListPageTable>
            <TableContent>
                <TableHeader Items="_resultTableHeader" />
                <tbody>
                    @foreach (var result in _searchedResults)
                    {
                        <tr>
                            <TableBodyRow>
                                <div class="text-primary data-link" @onclick="() => ModalService.ShowProfileModal(result.User.Id)">
                                    @result.User.Email
                                </div>
                            </TableBodyRow>
                            <TableBodyRow>
                                @result.User.FirstName
                            </TableBodyRow>
                            <TableBodyRow>
                                @result.User.LastName
                            </TableBodyRow>
                            <TableBodyRow>
                                @result.User.StudyGroup
                            </TableBodyRow>
                            <TableBodyRow>
                                @((MarkupString)result.TestResultValue.Replace("\n", "<br>"))
                            </TableBodyRow>
                        </tr>
                    }
                </tbody>
            </TableContent>
        </ListPageTable>
    </div>
</div>