@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Hint
@using HITSBlazor.Components.InputDropdowns.SkillDropdown
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Inputs.Number
@using HITSBlazor.Components.Inputs.RadioDropdown
@using HITSBlazor.Components.Inputs.Select
@using HITSBlazor.Components.Inputs.TextArea
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.ProgressBar
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Models.Ideas.Enums
@using HITSBlazor.Models.Users.Entities
@using HITSBlazor.Services.Ideas
@using HITSBlazor.Utils
@using HITSBlazor.Utils.Models

<div class="new-idea page-content-with-header">
    <div class="p-3 bg-white w-100 h-100 idea-form">
        <Typography FontSize="2" TextColor="TextColor.Primary">
            @(string.IsNullOrWhiteSpace(IdeaId) ? "Создание" : "Редактирование") идеи
        </Typography>
        <div class="w-75 d-flex flex-column gap-3">
            <div class="d-flex flex-column gap-3">
                <Input Label="Название идеи*"
                       HintText="@_hints[nameof(IdeasCreateModel.Name)]"
                       NeedValidation="_submitted"
                       Placeholder="Введите название идеи"
                       @bind-Value="@IdeasCreateModel.Name" />
                <TextArea Label="Проблема*"
                          HintText="@_hints[nameof(IdeasCreateModel.Problem)]"
                          NeedValidation="_submitted"
                          Placeholder="Опишите проблему, которую решает ваша идея"
                          @bind-Value="@IdeasCreateModel.Problem" />
                <TextArea Label="Предлагаемое решение*"
                          HintText="@_hints[nameof(IdeasCreateModel.Solution)]"
                          NeedValidation="_submitted"
                          Placeholder="Опишите, что вы предлагаете для решения проблемы"
                          @bind-Value="@IdeasCreateModel.Solution" />
                <TextArea Label="Ожидаемый результат*"
                          HintText="@_hints[nameof(IdeasCreateModel.Result)]"
                          NeedValidation="_submitted"
                          Placeholder="Опишите ожидаемый результат"
                          @bind-Value="@IdeasCreateModel.Result" />
                <TextArea Label="Описание необходимых ресурсов для реализации*"
                          HintText="@_hints[nameof(IdeasCreateModel.Description)]"
                          NeedValidation="_submitted"
                          Placeholder="Укажите список требуемых для выполнения проекта ресурсов"
                          @bind-Value="@IdeasCreateModel.Description" />
                <div>
                    <Typography FontSize="6" TextColor="TextColor.Primary">
                        Желаемое количество участников в команде*
                    </Typography>
                    <Hint Text="@_hints["TeamSize"]" />
                    <div class="mt-2 d-flex gap-3">
                        <Number MinValue="2" 
                                MaxValue="30" 
                                NeedValidation="_submitted"
                                Placeholder="Минимальное количество: 2" 
                                @bind-Value="IdeasCreateModel.MinTeamSize" />
                        <Number MinValue="2"
                                MaxValue="30"
                                NeedValidation="_submitted"
                                Placeholder="Максимальное количество: 30"
                                @bind-Value="IdeasCreateModel.MaxTeamSize" />
                    </div>
                </div>
            </div>
            <div>
                <Typography FontSize="6" TextColor="TextColor.Primary">
                    Стек технологий
                </Typography>
                <Hint Text="@_hints["Skills"]" />
                <div class="mt-2 w-100 stack-categories">
                    <SkillDropdown SkillType="SkillType.Language"
                                   @bind-SelectedSkills="@SelectedLanguageSkills" />
                    <SkillDropdown SkillType="SkillType.Framework"
                                   @bind-SelectedSkills="@SelectedFrameworkSkills" />
                    <SkillDropdown SkillType="SkillType.Database"
                                   @bind-SelectedSkills="@SelectedDatabaseSkills" />
                    <SkillDropdown SkillType="SkillType.Devops"
                                   @bind-SelectedSkills="@SelectedDevopsSkills" />
                </div>
            </div>
            @if (_isLoading)
            {
                <div class="w-100">
                    <Placeholder Width="w-25" />
                    <Placeholder Height="PlaceholderHeight.Small"/>
                </div>
            }
            else
            {
                <RadioDropdown T="Company"
                               Label="Заказчик"
                               HintText="Выберите заказчика (компанию), к которой Вы принадлежите или от лица которой создаётся идея"
                               Placeholder="Выберите заказчика"
                               @bind-Value="@SelectedCompany"
                               AllValues="Companies" />
                @if (SelectedCompany is not null)
                {
                    <RadioDropdown T="User"
                                   Label="Контактное лицо"
                                   Placeholder="Выберите контактное лицо"
                                   @bind-Value="@SelectedContactPerson"
                                   AllValues="SelectedCompany.Members" />
                }
            }
            <div class="row">
                <div class="col">
                    <Select Label="Пригодность"
                            @bind-Value="@SuitabilityScore"
                            NeedValidation="_submitted"
                            Options="IdeasRatingCategories.SuitabilityOptions" />
                </div>
                <div class="col">
                    <Select Label="Бюджет" 
                            @bind-Value="@BudgetScore" 
                            NeedValidation="_submitted"
                            Options="IdeasRatingCategories.BudgetOptions" />
                </div>
            </div>
            <div class="col">
                <ProgressBar Text="Предварительная оценка" 
                             Score="_preAssessmentScore" 
                             CategoryCounts="5" />
            </div>
            <div class="idea-form-submit-buttons">
                @if (string.IsNullOrWhiteSpace(IdeaId))
                {
                    <Button BtnType="ButtonType.Button" 
                            Variant="ButtonVariant.Primary"
                            Text="Сохранить черновик"
                            OnButtonClick="@(() => CreateIdea(IdeaStatusType.New))" />
                    <Button BtnType="ButtonType.Button"
                            Variant="ButtonVariant.Success"
                            Text="Отправить на согласование"
                            OnButtonClick="@(() => CreateIdea(IdeaStatusType.OnApproval))" />
                }
                else
                {
                    <Button BtnType="ButtonType.Button"
                            Variant="ButtonVariant.Primary"
                            Text="Сохранить изменения"
                            OnButtonClick="UpdateIdea" />
                }
            </div>
        </div>
    </div>
</div>

