@using HITSBlazor.Components.InputDropdowns.CompanyDropdown
@using HITSBlazor.Components.InputDropdowns.ContactPersonDropdown
@using HITSBlazor.Components.InputDropdowns.SkillDropdown
@using HITSBlazor.Components.Placeholder
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Common.Enums

<PageTitle>Портал ВШЦТ</PageTitle>

<div class="new-idea page-content-with-header">
    <form class="p-3 bg-white w-100 h-100 overflow-auto idea-form">
        <span class="fs-2 text-primary">Создание идеи</span>
        <div class="w-75 d-flex flex-column gap-3">
            <div class="d-flex flex-column gap-3">
                <div class="w-100">
                    <label class="form-label text-primary">
                        Название идеи*
                        <i class="bi bi-patch-question hint"></i>
                    </label>
                    <div class="input-group">
                        <input type="text" 
                               placeholder="Введите название идеи" 
                               @bind="ideasCreateModel.Name"
                               @bind:event="oninput"
                               class="form-control rounded-end" />
                    </div>
                </div>
                <div class="d-flex flex-column w-100 h-100">
                    <label class="form-label text-primary">
                        Проблема*
                        <i class="bi bi-patch-question hint"></i>
                    </label>
                    <div class="input-group h-100">
                        <textarea placeholder="Опишите проблему, которую решает ваша идея" 
                                  @bind="ideasCreateModel.Problem"
                                  @bind:event="oninput"
                                  class="form-control rounded-end">
                        </textarea>
                    </div>
                </div>
                <div class="d-flex flex-column w-100 h-100">
                    <label class="form-label text-primary">
                        Предлагаемое решение*
                        <i class="bi bi-patch-question hint"></i>
                    </label>
                    <div class="input-group h-100">
                        <textarea placeholder="Опишите, что вы предлагаете для решения проблемы" 
                                  @bind="ideasCreateModel.Solution"
                                  @bind:event="oninput"
                                  class="form-control rounded-end">
                        </textarea>
                    </div>
                </div>
                <div class="d-flex flex-column w-100 h-100">
                    <label class="form-label text-primary">
                        Ожидаемый результат*
                        <i class="bi bi-patch-question hint"></i>
                    </label>
                    <div class="input-group h-100">
                        <textarea placeholder="Опишите ожидаемый результат" 
                                  @bind="ideasCreateModel.Result"
                                  @bind:event="oninput"
                                  class="form-control rounded-end">
                        </textarea>
                    </div>
                </div>
                <div class="d-flex flex-column w-100 h-100">
                    <label class="form-label text-primary">
                        Описание необходимых ресурсов для реализации*
                        <i class="bi bi-patch-question hint"></i>
                    </label>
                    <div class="input-group h-100">
                        <textarea placeholder="Укажите список требуемых для выполнения проекта ресурсов" 
                                  @bind="ideasCreateModel.Description"
                                  @bind:event="oninput"
                                  class="form-control rounded-end">
                        </textarea>
                    </div>
                </div>
                <div>
                    <span class="fs-6 text-primary">
                        Желаемое количество участников в команде*
                    </span>
                    <i class="bi bi-patch-question hint"></i>
                <div class="mt-2 d-flex gap-3">
                    <div class="w-100">
                        <div class="input-group">
                            <input type="number" 
                                   max="30" 
                                   min="2" 
                                   placeholder="Минимальное количество: 2" 
                                   @bind="ideasCreateModel.MinTeamSize"
                                   @bind:event="oninput"
                                   class="form-control rounded-end" />
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="input-group">
                            <input type="number" 
                                   max="30" 
                                   min="2" 
                                   placeholder="Максимальное количество: 30" 
                                   @bind="ideasCreateModel.MaxTeamSize"
                                   @bind:event="oninput"
                                   class="form-control rounded-end" />
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div>
                <span class="fs-6 text-primary">Стек технологий*</span>
                <i class="bi bi-patch-question hint"></i>
                @if (isLoading)
                {
                    <div class="mt-2 w-100 d-flex gap-3">
                        @for (int p = 0; p < 4; ++p)
                        {
                            <Placeholder Height="PlaceholderHeight.Small" />
                        }
                    </div>
                }
                else 
                {
                    <div class="mt-2 w-100 stack-categories">
                        <SkillDropdown SkillType="SkillType.Language" 
                                       AllSkills="@LanguageSkills"
                                       @bind-SelectedSkills="@SelectedLanguageSkills"
                                       SearchFunction="@SearchSkillsAsync" />
                        <SkillDropdown SkillType="SkillType.Framework"
                                       AllSkills="@FrameworkSkills"
                                       @bind-SelectedSkills="@SelectedFrameworkSkills"
                                       SearchFunction="@SearchSkillsAsync" />
                        <SkillDropdown SkillType="SkillType.Database" 
                                       AllSkills="@DatabaseSkills"
                                       @bind-SelectedSkills="@SelectedDatabaseSkills"
                                       SearchFunction="@SearchSkillsAsync" />
                        <SkillDropdown SkillType="SkillType.Devops" 
                                       AllSkills="@DevopsSkills"
                                       @bind-SelectedSkills="@SelectedDevopsSkills"
                                       SearchFunction="@SearchSkillsAsync" />
                    </div>
                }
            </div>
            <CompanyDropdown AllCompanies="@Companies"
                             @bind-SelectedCompany="@SelectedCompany"
                             SearchFunction="@SearchCompaniesAsync" />
            @if (SelectedCompany is not null)
            {
                <ContactPersonDropdown CompanyId="@SelectedCompany.Id"
                                       AllContactPersons="@SelectedCompany.Users"
                                       @bind-SelectedContactPerson="@SelectedContactPerson"
                                       SearchFunction="@SearchContactPersonsAsync" />
            }
            <div class="row">
                <div class="col">
                    <div class="w-100">
                        <label class="form-label text-primary">
                            Пригодность*
                        </label>
                        <select @onchange="OnSuitabilityChanged" class="form-select">
                            <option disabled selected value="">Выберите значение</option>
                            <option value="5">Есть заказчик, инвестор и эксперт в предметной области</option>
                            <option value="4">Есть заказчик, инвестор, но нет эксперта</option>
                            <option value="3">Есть инвестор, но нет заказчика и эксперта</option>
                            <option value="2">Есть заказчик, но нет инвестора и эксперта</option>
                            <option value="1">Нет ни заказчика, ни инвестора, ни эксперта</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="w-100">
                        <label class="form-label text-primary">
                            Бюджет*
                        </label>
                        <select @onchange="OnBudgetChanged" class="form-select">
                            <option disabled selected value="">Выберите значение</option>
                            <option value="5">Не требуется</option>
                            <option value="4">До 30.000 руб</option>
                            <option value="3">30.000 - 50.000 руб</option>
                            <option value="2">50.000 - 100.000 руб</option>
                            <option value="1">Свыше 100.000 руб</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <span class="fs-6 text-primary">@preAssessmentText</span>
                @if (animationTimer is not null)
                {
                    <Placeholder />
                }
                else
                {
                    <div class="progress w-100 mt-2">
                        <div class="progress-bar progress-bar-animated" style="@preAssessmentStyle">
                        </div>
                    </div>
                }
            </div>
            <div class="idea-form-submit-buttons">
                <button type="button" class="btn d-flex btn-primary">
                    Сохранить черновик
                </button>
                <button type="button" class="btn d-flex btn-success">
                    Отправить на согласование
                </button>
            </div>
        </div>
    </form>
</div>

