@using HITSBlazor.Components.Button
@using HITSBlazor.Components.InputDropdowns.CompanyDropdown
@using HITSBlazor.Components.InputDropdowns.ContactPersonDropdown
@using HITSBlazor.Components.InputDropdowns.SkillDropdown
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Inputs.Number
@using HITSBlazor.Components.Inputs.Select
@using HITSBlazor.Components.Inputs.TextArea
@using HITSBlazor.Components.Placeholder
@using HITSBlazor.Components.ProgressBar
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Models.Ideas.Enums
@using HITSBlazor.Services.Ideas

<PageTitle>Портал ВШЦТ</PageTitle>

<!-- TODO: Реализовать валидацию -->
<div class="new-idea page-content-with-header">
    <div class="p-3 bg-white w-100 h-100 overflow-auto idea-form">
        <span class="fs-2 text-primary">
            @(string.IsNullOrWhiteSpace(IdeaId) ? "Создание" : "Редактирование") идеи
        </span>
        <div class="w-75 d-flex flex-column gap-3">
            <div class="d-flex flex-column gap-3">
                <Input Label="Название идеи*" 
                       Hint="true" 
                       NeedValidation="_submitted"
                       Placeholder="Введите название идеи"
                       @bind-Value="@_ideasCreateModel.Name" />
                <TextArea Label="Проблема*"
                          Hint="true"
                          NeedValidation="_submitted"
                          Placeholder="Опишите проблему, которую решает ваша идея"
                          @bind-Value="@_ideasCreateModel.Problem" />
                <TextArea Label="Предлагаемое решение*"
                          Hint="true"
                          NeedValidation="_submitted"
                          Placeholder="Опишите, что вы предлагаете для решения проблемы"
                          @bind-Value="@_ideasCreateModel.Solution" />
                <TextArea Label="Ожидаемый результат*"
                          Hint="true"
                          NeedValidation="_submitted"
                          Placeholder="Опишите ожидаемый результат"
                          @bind-Value="@_ideasCreateModel.Result" />
                <TextArea Label="Описание необходимых ресурсов для реализации*"
                          Hint="true"
                          NeedValidation="_submitted"
                          Placeholder="Укажите список требуемых для выполнения проекта ресурсов"
                          @bind-Value="@_ideasCreateModel.Description" />
                <div>
                    <span class="fs-6 text-primary">
                        Желаемое количество участников в команде*
                    </span>
                    <i class="bi bi-patch-question hint"></i>
                    <div class="mt-2 d-flex gap-3">
                        <Number MinValue="2" 
                                MaxValue="30" 
                                NeedValidation="_submitted"
                                Placeholder="Минимальное количество: 2" 
                                @bind-Value="_ideasCreateModel.MinTeamSize" />
                        <Number MinValue="2"
                                MaxValue="30"
                                NeedValidation="_submitted"
                                Placeholder="Максимальное количество: 30"
                                @bind-Value="_ideasCreateModel.MaxTeamSize" />
                    </div>
                </div>
            </div>
            <div>
                <span class="fs-6 text-primary">Стек технологий*</span>
                <i class="bi bi-patch-question hint"></i>
                @if (_isLoading)
                {
                    <div class="mt-2 w-100 d-flex gap-3">
                        @for (int p = 0; p < 4; ++p)
                        {
                            <Placeholder Height="PlaceholderHeight.Small" />
                        }
                    </div>
                }
                else 
                {
                    <div class="mt-2 w-100 stack-categories">
                        <SkillDropdown SkillType="SkillType.Language" 
                                       AllSkills="@_languageSkills"
                                       @bind-SelectedSkills="@_selectedLanguageSkills"
                                       SearchFunction="@SearchSkillsAsync" />
                        <SkillDropdown SkillType="SkillType.Framework"
                                       AllSkills="@_frameworkSkills"
                                       @bind-SelectedSkills="@_selectedFrameworkSkills"
                                       SearchFunction="@SearchSkillsAsync" />
                        <SkillDropdown SkillType="SkillType.Database" 
                                       AllSkills="@_databaseSkills"
                                       @bind-SelectedSkills="@_selectedDatabaseSkills"
                                       SearchFunction="@SearchSkillsAsync" />
                        <SkillDropdown SkillType="SkillType.Devops" 
                                       AllSkills="@_devopsSkills"
                                       @bind-SelectedSkills="@_selectedDevopsSkills"
                                       SearchFunction="@SearchSkillsAsync" />
                    </div>
                }
            </div>
            <CompanyDropdown AllCompanies="@_companies"
                             @bind-SelectedCompany="@SelectedCompany"
                             SearchFunction="@SearchCompaniesAsync" />
            @if (SelectedCompany is not null)
            {
                <ContactPersonDropdown CompanyId="@SelectedCompany.Id"
                                       AllContactPersons="@SelectedCompany.Users"
                                       @bind-SelectedContactPerson="@SelectedContactPerson"
                                       SearchFunction="@SearchContactPersonsAsync" />
            }
            <div class="row">
                <div class="col">
                    <Select Label="Пригодность"
                            @bind-Value="@SuitabilityScore"
                            NeedValidation="_submitted"
                            Options="IdeasRatingCategories.SuitabilityOptions" />
                </div>
                <div class="col">
                    <Select Label="Бюджет" 
                            @bind-Value="@BudgetScore" 
                            NeedValidation="_submitted"
                            Options="IdeasRatingCategories.BudgetOptions" />
                </div>
            </div>
            <div class="col">
                <ProgressBar Text="Предварительная оценка" 
                             Score="_preAssessmentScore" 
                             CategoryCounts="5" />
            </div>
            <div class="idea-form-submit-buttons">
                @if (string.IsNullOrWhiteSpace(IdeaId))
                {
                    <Button BtnType="ButtonType.Button" 
                            Variant="ButtonVariant.Primary"
                            Text="Сохранить черновик"
                            OnButtonClick="@(() => CreateIdea(IdeaStatusType.New))" />
                    <Button BtnType="ButtonType.Button"
                            Variant="ButtonVariant.Success"
                            Text="Отправить на согласование"
                            OnButtonClick="@(() => CreateIdea(IdeaStatusType.OnApproval))" />
                }
                else
                {
                    <Button BtnType="ButtonType.Button"
                            Variant="ButtonVariant.Primary"
                            Text="Сохранить изменения"
                            OnButtonClick="UpdateIdea" />
                }
            </div>
        </div>
    </div>
</div>

