@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Services

<PageTitle>Портал ВШЦТ</PageTitle>

<div style="height: auto; display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: center;">
    <form class="p-3 bg-white w-100 h-100 overflow-auto"
          style="align-items: center; gap: 12px; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start;">
          <span class="fs-2 text-primary">Создание идеи</span>
          <div class="w-75 d-flex flex-column gap-3">
              <div class="d-flex flex-column gap-3">
                  <div class="w-100">
                      <label class="form-label text-primary">
                          Название идеи*
                          <i class="bi-patch-question" 
                             style="@Styles.Bi cursor: pointer; display: inline-block; vertical-align: middle; color: #007bff;"></i>
                      </label>
                      <div class="input-group">
                          <input type="text" placeholder="Введите название идеи" class="form-control rounded-end" />
                      </div>
                  </div>
                  <div class="d-flex flex-column w-100 h-100">
                      <label class="form-label text-primary">
                          Проблема*
                          <i class="bi-patch-question"
                             style="@Styles.Bi cursor: pointer; display: inline-block; vertical-align: middle; color: #007bff;"></i>
                      </label>
                      <div class="input-group h-100">
                          <textarea placeholder="Опишите проблему, которую решает ваша идея" class="form-control rounded-end"></textarea>
                      </div>
                  </div>
                  <div class="d-flex flex-column w-100 h-100">
                      <label class="form-label text-primary">
                          Предлагаемое решение*
                          <i class="bi-patch-question"
                             style="@Styles.Bi cursor: pointer; display: inline-block; vertical-align: middle; color: #007bff;"></i>
                      </label>
                      <div class="input-group h-100">
                          <textarea placeholder="Опишите, что вы предлагаете для решения проблемы" class="form-control rounded-end"></textarea>
                      </div>
                  </div>
                  <div class="d-flex flex-column w-100 h-100">
                      <label class="form-label text-primary">
                          Ожидаемый результат*
                          <i class="bi-patch-question"
                             style="@Styles.Bi cursor: pointer; display: inline-block; vertical-align: middle; color: #007bff;"></i>
                      </label>
                      <div class="input-group h-100">
                          <textarea placeholder="Опишите ожидаемый результат" class="form-control rounded-end"></textarea>
                      </div>
                  </div>
                  <div class="d-flex flex-column w-100 h-100">
                      <label class="form-label text-primary">
                          Описание необходимых ресурсов для реализации*
                          <i class="bi-patch-question"
                             style="@Styles.Bi cursor: pointer; display: inline-block; vertical-align: middle; color: #007bff;"></i>
                      </label>
                      <div class="input-group h-100">
                          <textarea placeholder="Укажите список требуемых для выполнения проекта ресурсов" class="form-control rounded-end"></textarea>
                      </div>
                  </div>
                  <div>
                      <span class="fs-6 text-primary">
                          Желаемое количество участников в команде*
                      </span>
                    <i class="bi-patch-question"
                       style="@Styles.Bi cursor: pointer; display: inline-block; vertical-align: middle; color: #007bff;"></i>
                    <div class="mt-2 d-flex gap-3">
                        <div class="w-100">
                            <div class="input-group">
                                <input type="number" max="30" min="2" placeholder="Минимальное количество: 2" class="form-control rounded-end" />
                            </div>
                        </div>
                        <div class="w-100">
                            <div class="input-group">
                                <input type="number" max="30" min="2" placeholder="Максимальное количество: 30" class="form-control rounded-end" />
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
              <div>
                  <span class="fs-6 text-primary">Стек технологий*</span>
                  <i class="bi-patch-question"
                     style="@Styles.Bi cursor: pointer; display: inline-block; vertical-align: middle; color: #007bff;"></i>
                  <div class="mt-2 w-100" style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: flex-start; justify-content: stretch; gap: 16px;">
                      <div class="w-25">
                          <div class="w-100">
                              <div style="position: relative;">
                                  <div class="w-100">
                                      <div class="input-group">
                                          <input type="text" 
                                                 @oninput="@(e => SearchNameSkill(e, SkillType.Language))"
                                                 onfocus="@(async () => await ShowSkills(SkillType.Language))"
                                                 placeholder="Языки разработки@(SelectedLanguageSkills.Count > 0 ? $" ({SelectedLanguageSkills.Count})" : "")"
                                                 class="form-control" style="color: #000 !important;" />
                                      </div>
                                  </div>
                                  @if (showLanguageSkills)
                                  {
                                      <div class="list-group w-100" style="top: 42px; right: auto; z-index: 6; max-height: 173px; overflow-y: scroll; position: absolute; bottom: auto; left: auto;">
                                          @foreach (var skill in LanguageSkills)
                                          {
                                              <div class="d-flex list-group-item list-group-item-action" style="padding: 8px 12px; cursor: pointer; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: flex-start;">
                                                  <div class="d-flex">
                                                      <input type="checkbox"
                                                             checked="@SelectedLanguageSkills.Contains(skill)"
                                                             @onchange="@(e => OnSkillSelected(skill, (bool)e.Value!))"
                                                             class="form-check-input" />
                                                      <span class="form-check-label ms-2">@skill.Name</span>
                                                  </div>
                                              </div>
                                        }
                                      </div>
                                  }
                                  else
                                  {
                                      <i class="bi-chevron-down" style="@Styles.Bi position: absolute; bottom: auto; left: auto; top: 11px; right: 12px; z-index: 5; cursor: pointer;"></i>
                                  }
                              </div>
                          </div>
                      </div>
                      @if (SelectedLanguageSkills.Any())
                      {
                        <div class="mt-2">
                            <div class="d-flex flex-wrap gap-1">
                                @foreach (var skill in SelectedLanguageSkills)
                                {
                                    <div class="px-2 py-1 rounded d-flex gap-1 bg-success-subtle text-success">
                                        <span class="fs-6">@skill.Name</span>
                                        <i class="bi-x-lg" style="@Styles.Bi cursor: pointer;"></i>
                                    </div>
                                }
                            </div>
                        </div>
                      }
                  </div>
              </div>
              <div class="w-100"></div>
              <div class="row"></div>
              <div class="col"></div>
              <div style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: center; gap: 16px;">

              </div>
          </div>
    </form>
</div>

