@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Hint
@using HITSBlazor.Components.InputDropdowns.SkillDropdown
@using HITSBlazor.Components.Inputs.CheckboxDropdown
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Inputs.Number
@using HITSBlazor.Components.Inputs.RadioDropdown
@using HITSBlazor.Components.Inputs.Select
@using HITSBlazor.Components.Inputs.TextArea
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.ProgressBar
@using HITSBlazor.Components.StackCategories
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Models.Ideas.Enums
@using HITSBlazor.Models.Users.Entities
@using HITSBlazor.Services.Ideas
@using HITSBlazor.Utils
@using HITSBlazor.Utils.EnumStyles
@using HITSBlazor.Utils.Models

<div class="new-idea page-content-with-header">
    <div class="p-3 bg-white w-100 h-100 idea-form">
        @if (_isLoading)
        {
            <Placeholder Width="w-25" />
        }
        else
        {
            <Typography FontSize="2" TextColor="TextColor.Primary">
                @(string.IsNullOrWhiteSpace(IdeaId) ? "Создание" : "Редактирование") идеи
            </Typography>
        }
        <div class="w-75 d-flex flex-column gap-3">
            <div class="d-flex flex-column gap-3">
                <Input IsLoading="_isLoading"
                       Label="Название идеи*"
                       HintText="@GetHintText(nameof(IdeasCreateModel.Name))"
                       NeedValidation="_submitted"
                       Placeholder="Введите название идеи"
                       @bind-Value="@IdeasCreateModel.Name" />
                <TextArea IsLoading="_isLoading"
                          Label="Проблема*"
                          HintText="@GetHintText(nameof(IdeasCreateModel.Problem))"
                          NeedValidation="_submitted"
                          Placeholder="Опишите проблему, которую решает ваша идея"
                          @bind-Value="@IdeasCreateModel.Problem" />
                <TextArea IsLoading="_isLoading"
                          Label="Предлагаемое решение*"
                          HintText="@GetHintText(nameof(IdeasCreateModel.Solution))"
                          NeedValidation="_submitted"
                          Placeholder="Опишите, что вы предлагаете для решения проблемы"
                          @bind-Value="@IdeasCreateModel.Solution" />
                <TextArea IsLoading="_isLoading"
                          Label="Ожидаемый результат*"
                          HintText="@GetHintText(nameof(IdeasCreateModel.Result))"
                          NeedValidation="_submitted"
                          Placeholder="Опишите ожидаемый результат"
                          @bind-Value="@IdeasCreateModel.Result" />
                <TextArea IsLoading="_isLoading"
                          Label="Описание необходимых ресурсов для реализации*"
                          HintText="@GetHintText(nameof(IdeasCreateModel.Description))"
                          NeedValidation="_submitted"
                          Placeholder="Укажите список требуемых для выполнения проекта ресурсов"
                          @bind-Value="@IdeasCreateModel.Description" />
                <div>
                    @if (_isLoading)
                    {
                        <Placeholder Width="w-25" />
                    }
                    else
                    {
                        <div class="d-flex gap-1 align-items-center">
                            <Typography FontSize="6" TextColor="TextColor.Primary">
                                Желаемое количество участников в команде*
                            </Typography>
                            <Hint Text="@GetHintText("TeamSize")" />
                        </div>
                    }
                    <div class="mt-2 d-flex gap-3">
                        <Number IsLoading="_isLoading"
                                MinValue="2" 
                                MaxValue="30" 
                                NeedValidation="_submitted"
                                Placeholder="Минимальное количество: 2" 
                                @bind-Value="IdeasCreateModel.MinTeamSize" />
                        <Number IsLoading="_isLoading"
                                MinValue="2"
                                MaxValue="30"
                                NeedValidation="_submitted"
                                Placeholder="Максимальное количество: 30"
                                @bind-Value="IdeasCreateModel.MaxTeamSize" />
                    </div>
                </div>
            </div>
            <StackCategories Label="Стек технологий"
                             HintText="@GetHintText("Skills")"
                             @bind-SelectedLanguageSkills="SelectedLanguageSkills"
                             @bind-SelectedFrameworkSkills="SelectedFrameworkSkills"
                             @bind-SelectedDatabaseSkills="SelectedDatabaseSkills"
                             @bind-SelectedDevopsSkills="SelectedDevopsSkills" />
            <RadioDropdown T="Company"
                           IsLoading="_isLoading"
                           Label="Заказчик"
                           HintText="Выберите заказчика (компанию), к которой Вы принадлежите или от лица которой создаётся идея"
                           Placeholder="Выберите заказчика"
                           @bind-Value="@SelectedCompany"
                           DataLoaderMethod="async (page, searchText) => await CompanyService.GetCompaniesAsync(page, searchText)" />
            @if (SelectedCompany is not null)
            {
                <RadioDropdown T="User"
                               IsLoading="_isLoading"
                               Label="Контактное лицо"
                               Placeholder="Выберите контактное лицо"
                               @bind-Value="@SelectedContactPerson"
                               AllValues="SelectedCompany.Members" />
            }
            <div class="row">
                <div class="col">
                    <Select IsLoading="_isLoading"
                            Label="Пригодность"
                            @bind-Value="@SuitabilityScore"
                            NeedValidation="_submitted"
                            Options="IdeasRatingCategories.SuitabilityOptions" />
                </div>
                <div class="col">
                    <Select IsLoading="_isLoading"
                            Label="Бюджет" 
                            @bind-Value="@BudgetScore" 
                            NeedValidation="_submitted"
                            Options="IdeasRatingCategories.BudgetOptions" />
                </div>
            </div>
            <div class="col">
                <ProgressBar IsLoading="_isLoading"
                             Text="Предварительная оценка" 
                             Score="_preAssessmentScore" 
                             CategoryCounts="5" />
            </div>
            <div class="idea-form-submit-buttons">
                @if (string.IsNullOrWhiteSpace(IdeaId))
                {
                    <Button IsLoading="_isLoading" Variant="ButtonVariant.Primary"
                            Text="Сохранить черновик"
                            OnButtonClick="@(() => CreateIdea(IdeaStatusType.New))" />
                    <Button IsLoading="_isLoading" Variant="ButtonVariant.Success"
                            Text="Отправить на согласование"
                            OnButtonClick="@(() => CreateIdea(IdeaStatusType.OnApproval))" />
                }
                else
                {
                    <Button IsLoading="_isLoading" 
                            Variant="ButtonVariant.Primary"
                            Text="Сохранить изменения"
                            OnButtonClick="UpdateIdea" />
                }
            </div>
        </div>
    </div>
</div>

