@namespace HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Hint
@using HITSBlazor.Components.Typography

<div class="w-100">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-label text-primary">
            @($"{Label}{(!string.IsNullOrWhiteSpace(HintText) ? " " : "")}")
            @if (!string.IsNullOrWhiteSpace(HintText))
            {
                <Hint Text="@HintText" />
            }
        </label>
    }
    <div class="input-group">
        @if (!string.IsNullOrWhiteSpace(IconStyle))
        {
            <Typography FontSize="6" CustomClass="input-group-text">
                <i class="bi @IconStyle"></i>
            </Typography>
        }
        <input type="text"
               value="@Value"
               placeholder="@Placeholder"
               @oninput="@OnInputChanged"
               class="form-control rounded-end @(_showError ? "is-invalid" : string.Empty)" />
        @if (_showError)
        {
            <Typography CustomClass="invalid-feedback">@ErrorMessage</Typography>
        }
    </div>
</div>