@namespace HITSBlazor.Components.Modals.RightSideModals.ShowUserModal
@using HITSBlazor.Components.Collapse
@using HITSBlazor.Components.InputDropdowns.SkillDropdown
@using HITSBlazor.Components.Modals.Components.ModalHeader
@using HITSBlazor.Components.Placeholder
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableHeader
@using HITSBlazor.Components.UserInfoField
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Services.Modal
@using HITSBlazor.Utils.EnumStyles
@using HITSBlazor.Utils.EnumTranslators

<div class="right-side-modal p-3 overflow-y-scroll" @onclick:stopPropagation="true">
    <div class="w-100 @(_isLoading || Profile is null ? "user-placeholder" : string.Empty)">
        @if (_isLoading || Profile is null)
        {
            <Placeholder Width="w-75" />
            <div class="user-placeholder-content">
                <div class="user-placeholder-left-side bg-white rounded p-3">
                    <div class="w-100 d-flex justify-content-center">
                        <div class="user-placeholder-avatar rounded-circle overflow-hidden">
                            <Placeholder Height="PlaceholderHeight.Second" />
                        </div>
                    </div>
                    <div class="w-100 d-flex gap-2">
                        @for (int i = 0; i < 4; ++i)
                        {
                            <Placeholder Width="w-25" AdditionalClass="p-3" />
                        }
                    </div>
                </div>
                <div class="user-placeholder-right-side">
                    <div class="bg-white rounded p-3">
                        <div class="user-placeholder-right-side-header border-bottom">
                            <Placeholder Width="w-25 mb-1"/>
                        </div>
                        <div class="user-placeholder-right-side-content">
                            @for (int i = 0; i < 4; ++i)
                            {
                                <div class="w-75">
                                    <Placeholder Width="w-50" />
                                    <Placeholder Width="w-75" />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="bg-white rounded p-3">
                        <div class="user-placeholder-right-side-header border-bottom">
                            <Placeholder Width="w-25 m-2" />
                            <Placeholder Width="w-25 m-2" />
                        </div>
                        <div class="user-placeholder-right-side-content p-2">
                            @for (int i = 0; i < 3; ++i)
                            {
                                <Placeholder Width="w-50" Height="PlaceholderHeight.Medium" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <ModalHeader Title="@($"{Profile.FirstName} {Profile.LastName}")" />
            <div class="right-side-modal-content">
                <div class="d-flex flex-column gap-3 w-75">
                    <div class="w-100 bg-white border p-3 rounded-3 d-flex flex-column gap-3" style="height: fit-content;">
                        <div class="d-flex justify-content-center w-100">
                            <button class="position-relative p-0 rounded-circle">
                                <img class="text-secondary" width="150" height="150" src="/images//defProfile.png" />
                            </button>
                        </div>
                        <div class="w-100 d-flex flex-wrap justify-content-center gap-1">
                            @foreach (var role in Profile.Roles)
                            {
                                <div class="w-auto">
                                    <div class="text-center rounded-pill px-2 py-1 @(_isCurrentUser && role == AuthService.CurrentUser?.Role ? "bg-primary text-light" : "bg-light border p-2")">
                                        @role.GetTranslation()
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="w-100 bg-white border p-3 rounded-3">
                        <div class="user-info-header border-bottom pb-1">
                            <span class="fs-5 text-primary">Информация</span>
                            @if (_isCurrentUser && _editingField != null)
                            {
                                <div class="d-flex justify-content-end gap-2">
                                    <button @onclick="@SaveEdit" type="button" class="btn d-flex btn-success">
                                        Сохранить
                                    </button>
                                    <button @onclick="@CancelEdit" type="button" class="btn d-flex btn-danger">
                                        Отменить
                                    </button>
                                </div>                                
                            }
                        </div>
                        <div class="user-info-content p-2">
                            <UserInfoField 
                                Title="Почта" 
                                Value="@Profile?.Email"
                                ValueChanged="@((value) => value = string.Empty)"
                                IsEditing="false"
                                IsCurrentUser="@_isCurrentUser"
                                OnEdit="@(() => ShowUpdateEmail())" />

                            <UserInfoField 
                                Title="Имя" 
                                Value="@_userDataForm?.FirstName"
                                ValueChanged="@((value) => _userDataForm?.FirstName = value)"
                                IsEditing="@(_editingField == nameof(_userDataForm.FirstName))"
                                IsCurrentUser="@_isCurrentUser"
                                OnEdit="@(() => StartEdit(nameof(_userDataForm.FirstName)))" />

                            <UserInfoField 
                                Title="Фамилия" 
                                Value="@Profile?.LastName"
                                IsEditing="@(_editingField == nameof(Profile.LastName))"
                                IsCurrentUser="@_isCurrentUser"
                                OnEdit="@(() => StartEdit(nameof(Profile.LastName)))" />

                            <UserInfoField 
                                Title="Группа" 
                                Value="@Profile?.StudyGroup"
                                IsEditing="@(_editingField == nameof(Profile.StudyGroup))"
                                IsCurrentUser="@_isCurrentUser"
                                OnEdit="@(() => StartEdit(nameof(Profile.StudyGroup)))" />

                            <UserInfoField 
                                Title="Телефон" 
                                Value="@Profile?.Telephone"
                                IsEditing="@(_editingField == nameof(Profile.Telephone))"
                                IsCurrentUser="@_isCurrentUser"
                                OnEdit="@(() => StartEdit(nameof(Profile.Telephone)))" />

                            <div class="d-flex gap-1">
                                <span class="fs-6 text-primary">Дата регистрации:</span>
                                <span class="fs-6 text-secondary">
                                    @(Profile?.CreatedAt is null ? "-" : Profile.CreatedAt.Value.ToString("dd.MM.yyyy"))
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-info mb-3">
                    <div class="w-100 bg-white border p-3 rounded-3">
                        <div class="user-info-header border-bottom pb-1">
                            <span class="fs-5 text-primary">Компетенции</span>
                            @if (_isCurrentUser)
                            {
                                @if (_isChangeSkills)
                                {
                                    <div class="d-flex gap-2">
                                        <button @onclick="@UpdateUserSkills"
                                                type="button" 
                                                class="btn d-flex btn-primary">
                                            Сохранить
                                        </button>
                                        <button @onclick="@(() => _isChangeSkills = !_isChangeSkills)"
                                                type="button" 
                                                class="btn d-flex btn-danger">
                                            Отменить
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    <button @onclick="@ChangeToUpdateSkills"
                                            type="button"
                                            class="btn d-flex btn-light">
                                        Изменить стек
                                    </button>
                                }
                            }
                        </div>
                        <div>
                            @if (_isCurrentUser && _isChangeSkills)
                            {
                                @if (_isSkillsLoading)
                                {
                                    <div class="mt-2 w-100 d-flex gap-3">
                                        @for (int p = 0; p < 4; ++p)
                                        {
                                            <Placeholder Height="PlaceholderHeight.Small" />
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="mt-2 w-100 stack-categories">
                                        <SkillDropdown SkillType="SkillType.Language"
                                                       AllSkills="@LanguageSkills"
                                                       @bind-SelectedSkills="@SelectedLanguageSkills"
                                                       SearchFunction="@SearchSkillsAsync" />
                                        <SkillDropdown SkillType="SkillType.Framework"
                                                       AllSkills="@FrameworkSkills"
                                                       @bind-SelectedSkills="@SelectedFrameworkSkills"
                                                       SearchFunction="@SearchSkillsAsync" />
                                        <SkillDropdown SkillType="SkillType.Database"
                                                       AllSkills="@DatabaseSkills"
                                                       @bind-SelectedSkills="@SelectedDatabaseSkills"
                                                       SearchFunction="@SearchSkillsAsync" />
                                        <SkillDropdown SkillType="SkillType.Devops"
                                                       AllSkills="@DevopsSkills"
                                                       @bind-SelectedSkills="@SelectedDevopsSkills"
                                                       SearchFunction="@SearchSkillsAsync" />
                                    </div>
                                }
                            }
                            else
                            {
                                @if (Profile?.Skills.Count == 0)
                                {
                                    <span class="d-flex w-100 justify-content-center mt-3 fs-6 text-secondary">
                                        Компетенции не выбраны
                                    </span>
                                }
                                else
                                {
                                    <div class="user-skills-charts">
                                        @foreach (var type in Enum.GetValues<SkillType>())
                                        {
                                            var userSkills = Profile?.Skills.Where(s => s.Type == type).ToList();
                                            if (userSkills?.Count > 0)
                                            {
                                                <ApexChart TItem="Skill"
                                                           Options="@GetRadarChartOptions()"
                                                           Width="300"
                                                           Height="186.335">
                                                    <ApexPointSeries TItem="Skill"
                                                                     Items="userSkills"
                                                                     Name="Фактические компетенции"
                                                                     SeriesType="SeriesType.Radar"
                                                                     XValue="@(s => s.Name)"
                                                                     YValue="@(s => 1)"
                                                                     Color="@type.GetColor()" />
                                                </ApexChart>
                                            }
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="w-100 bg-white border p-3 rounded-3">
                        <div class="user-ideas-header border-bottom">
                            <span class="fs-5 text-primary">Идеи</span>
                        </div>
                        <div class="user-ideas-content @(ideasIsLoading ? "p-3" : "mt-3")">
                            @if (ideasIsLoading)
                            {
                                @for (int i = 0; i < 3; ++i)
                                {
                                    <div class="w-100 p-2 d-flex flex-column border rounded">
                                        <Placeholder Width="w-75" />
                                        <Placeholder Width="w-50" />
                                    </div>                                    
                                }
                            }
                            else
                            {
                                @if (Profile?.Ideas.Count == 0)
                                {
                                    <span class="fs-6 text-secondary">Идей пока нет</span>
                                }
                                else
                                {
                                    @foreach (var idea in Profile?.Ideas ?? [])
                                    {
                                        <div class="user-ideas-idea w-100 p-2 bg-white border rounded">
                                            <Collapse ExpandedClass="w-100" StartCollapsed="true">
                                                <MainContent Context="collapse">
                                                    <div class="w-100 d-flex justify-content-between align-items-center gap-3">
                                                        <div class="w-100 d-flex gap-2 align-items-center justify-content-between">
                                                            <div @onclick="@(() => ShowIdea(idea.Id))" class="user-ideas-idea-link data-link fs-6 w-100">
                                                                @idea.Name
                                                            </div>
                                                            <div class="px-2 py-1 rounded-4 fs-6 text-center @idea.Status.GetStyle()">
                                                                @idea.Status.GetTranslation()
                                                            </div>
                                                        </div>
                                                        <div @onclick="@(() => collapse.Toggle())" class="d-flex align-items-center gap-1" style="cursor: pointer;">
                                                            <span class="fs-6 text-primary">Описание</span>
                                                            <i class="bi bi-caret-down text-primary"></i>
                                                        </div>
                                                    </div>
                                                </MainContent>
                                                <ExpandedContent>
                                                    <div class="list-group">
                                                        <span class="fs-6 w-100 mt-1 border-top text-secondary">
                                                            @idea.Description
                                                        </span>
                                                    </div>
                                                </ExpandedContent>
                                            </Collapse>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div class="w-100 bg-white border p-3 rounded-3">
                        <div class="user-ideas-header border-bottom mb-2">
                            <span class="fs-5 text-primary">Портфолио</span>
                        </div>
                        <div class="w-100 bg-white">
                            <div class="py-2 d-flex justify-content-between">
                                <div class="w-50">
                                    <div class="w-100">
                                        <div class="input-group">
                                            <span class="input-group-text fs-6">
                                                <i class="bi bi-search"></i>
                                            </span>
                                            <input type="text" placeholder="Поиск" class="form-control rounded-end" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 d-flex">
                                <div class="w-100">
                                    <table class="table table-hover mb-0">
                                        <TableHeader TableActionMenuIsEnable="true" 
                                                     Items="GetHeaderItems()" />
                                        <tbody>
                                            @foreach (var teamExp in Profile?.Teams ?? [])
                                            {
                                                <tr>
                                                    <TableBodyRow>
                                                        <div @onclick="@(() => ShowTeam(teamExp.TeamId))" class="data-link">
                                                            <div>@teamExp.TeamName</div>
                                                        </div>
                                                    </TableBodyRow>
                                                    <TableBodyRow IsCentered="true">
                                                        <div>@teamExp.StartDate.ToString("dd.MM.yyyy")</div>
                                                    </TableBodyRow>
                                                    <TableBodyRow IsCentered="true">
                                                        <div class="@(teamExp.FinishDate is null ? "text-primary" : string.Empty)">
                                                            <div>@(teamExp.FinishDate is null ? "В команде" : teamExp.FinishDate.Value.ToString("dd.MM.yyyy"))</div>
                                                        </div>
                                                    </TableBodyRow>
                                                    <TableBodyRow IsCentered="true">
                                                        @if (teamExp.HasActiveProject)
                                                        {
                                                            <div class="px-2 py-1 rounded-4 bg-warning-subtle text-warning">
                                                                <div>В работе</div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="px-2 py-1 rounded-4 bg-primary-subtle text-primary">
                                                                <div>В поисках</div>
                                                            </div>
                                                        }
                                                    </TableBodyRow>
                                                    <TableActionMenu ItemId="@teamExp.TeamId"
                                                                     OnAction="OnTeamAction"
                                                                     ShowToRight="true"
                                                                     Actions="@(new List<TableAction> { TableAction.View })" />
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 bg-white border p-3 rounded-3">
                        <div class="user-test-header border-bottom">
                            <span class="fs-5 text-primary">Результаты тестирований</span>
                        </div>
                        <div class="user-tests-content mt-3">
                            <span class="fs-6 text-decoration-underline">Тест Белбина:</span>
                            @if (BelbinTestResult is null)
                            {
                                <span class="fs-6 text-secondary">Вы не прошли тест</span>                                
                            }
                            else
                            {
                                <p>@((MarkupString)BelbinTestResult.TestResultValue.Replace("\n", "<br>"))</p>
                            }
                        </div>
                        <div class="user-tests-content mt-3">
                            <span class="fs-6 text-decoration-underline">Айзенка личностный опросник:</span>
                            @if (TemperTestResult is null)
                            {
                                <span class="fs-6 text-secondary">Вы не прошли тест</span>
                            }
                            else
                            {
                                <p>@((MarkupString)TemperTestResult.TestResultValue.Replace("\n", "<br>"))</p>
                            }
                        </div>
                        <div class="user-tests-content mt-3">
                            <span class="fs-6 text-decoration-underline">Опросник «Стиль мышления»:</span>
                            @if (MindTestResult is null)
                            {
                                <span class="fs-6 text-secondary">Вы не прошли тест</span>
                            }
                            else
                            {
                                <p>@((MarkupString)MindTestResult.TestResultValue.Replace("\n", "<br>"))</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>