@namespace HITSBlazor.Components.Button
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Typography

@if (IsLoading)
{
    <Placeholder Height="PlaceholderHeight.Smaller" Width="@LoadingWidth" />
}
else
{
    <button type="@BtnType.ToString().ToLower()"
            @onclick="@ButtonClick"
            disabled="@InProgress"
            class="@GetClass()"
            style="@Style">
        @if (!string.IsNullOrWhiteSpace(IconStyle))
        {
            <i class="bi @IconStyle @IconSize"></i>
        }
        @if (InProgress && !string.IsNullOrWhiteSpace(LoadingText))
        {
            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            <Typography FontSize="TextSize" TextColor="TextColor" CustomClass="@TextCustomClass">
                @LoadingText...
            </Typography>
        }
        else if (!string.IsNullOrWhiteSpace(Text))
        {
            <Typography FontSize="TextSize" TextColor="TextColor" CustomClass="@TextCustomClass">
                @Text
            </Typography>
        }
    </button>
}