@namespace HITSBlazor.Components.TaskComponent
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Collapse
@using HITSBlazor.Components.Hint
@using HITSBlazor.Components.Modals.CenterModals.ConfirmModal
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Services.Auth
@using HITSBlazor.Services.Modal
@using HITSBlazor.Services.Projects

@using HITSTask = HITSBlazor.Models.Projects.Entities.Task;
@using HITSTaskStatus = HITSBlazor.Models.Projects.Enums.TaskStatus;

<div class="d-flex gap-2 mb-2 w-100">
    <div class="bg-white overflow-hidden rounded border w-100" style="cursor: pointer;">
        <Collapse>
            <MainContent Context="collapse">
                <div class="task" @onclick="() => ClickTask(() => collapse.Toggle())">
                    <div class="d-flex gap-2 task-left">
                        @{
                            var taskStatusHint = GetHintAndColor(Task.Status);
                            <Hint Text="@taskStatusHint.Hint">
                                <div class="task-left-block text-white fs-5 @taskStatusHint.Color">
                                    @(Task.Status is Models.Projects.Enums.TaskStatus.InBackLog ? Task.Position : string.Empty)
                                </div>
                            </Hint>
                        }
                        <div class="task-left-name @(ShowTaskModalAllowed ? "active" : string.Empty)"
                             style="@(StripTaskName ? string.Empty : "width: max-content;")" 
                             @onclick="ShowTaskModal" @onclick:stopPropagation="ShowTaskModalAllowed">
                            @Task.Name
                        </div>
                    </div>
                    <div class="@(StripTaskName ? "d-flex gap-1" : "task-left-icon w-100") me-2">
                        @foreach (var tag in Task.Tags)
                        {
                            <Hint Text="@tag.Name">
                                <i class="bi bi-circle-fill p-1 rounded-2"
                                   style="background-color: @($"{tag.Color}4D"); color: @tag.Color;">
                                </i>
                            </Hint>
                        }
                        @if (CollapseTaskAllowed)
                        {
                            <i class="bi bi-chevron-down fs-5 flip-icon @(collapse.ExpandedStatus ? "active" : string.Empty)"></i>
                        }
                    </div>
                </div>
            </MainContent>
            <ExpandedContent>
                <div class="list-group">
                    <div class="d-flex border-top text-secondary">
                        <div class="w-75 p-2 border-end">
                            @Task.Description
                        </div>
                        <div class="w-25 p-2">
                            <div>Постановщик: @Task.Initiator.FullName</div>
                            <div>Дата создания: @Task.StartDate.ToString("dd.MM.yyyy")</div>
                            <div>Трудоемкость: @($"{Task.WorkHour}ч")</div>
                        </div>
                    </div>
                </div>
            </ExpandedContent>
        </Collapse>
    </div>
    @if (DeleteTaskAllowed)
    {
        <Button ButtonClass="btn-outline-danger bi bi-x" OnButtonClick="ShowConfirmModal" />
    }
</div>

@code {
    [Inject]
    private IProjectService ProjectService { get; set; } = null!;

    [Inject]
    private ModalService ModalService { get; set; } = null!;

    [Parameter]
    public required HITSTask Task { get; set; }

    [Parameter]
    public EventCallback<HITSTask> TaskChanged { get; set; }

    [Parameter]
    public EventCallback OnClickTask { get; set; }

    [Parameter]
    public bool DeleteTaskAllowed { get; set; } = false;

    [Parameter]
    public bool CollapseTaskAllowed { get; set; } = false;

    [Parameter]
    public bool StripTaskName { get; set; } = false;

    [Parameter]
    public bool ShowTaskModalAllowed { get; set; } = false;

    private (string Hint, string Color) GetHintAndColor(HITSTaskStatus status) => status switch
    {
        HITSTaskStatus.InBackLog => ("Приоритетность задачи", "bg-primary"),
        HITSTaskStatus.Done => ("Задача завершена", "bg-secondary"),
        _ => ("Задача в активном спринте", "bg-warning")
    };

    private async Task ClickTask(Func<Task> toggleMethod)
    {
        if (OnClickTask.HasDelegate)
            await OnClickTask.InvokeAsync();
        else 
            await toggleMethod.Invoke();

    }

    private void ShowTaskModal()
    {
        if (ShowTaskModalAllowed)
            ModalService.ShowTaskModal(Task);
    }

    private void ShowConfirmModal() => ModalService.ShowConfirmModal(
        $"Вы действительно хотите удалить \"{Task.Name}\"?",
        () => ProjectService.DeleteTaskAsync(Task),
        confirmButtonVariant: ButtonVariant.Danger,
        confirmButtonText: "Удалить"
    );
}