@namespace HITSBlazor.Pages.Teams.TeamsList
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Filters.RadioFilter
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.ListPageComponents.ListPageHeader
@using HITSBlazor.Components.ListPageComponents.ListPageSearch
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Placeholders.TablePlaceholder
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableHeader
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Utils.Models

<div class="bg-white teams-list page-content-with-header">
    @if (_isLoading)
    {
        <TablePlaceholder />
    }
    else
    {
        <div class="w-100 bg-white p-3">
            <ListPageHeader HeaderText="@($"Список команд: {_teams.Count}")" 
                            ShowCreateButton="AuthService.CurrentUser?.Role is RoleType.TeamOwner or RoleType.Admin"
                            CreateButtonText="Создать команду" 
                            OnButtonClick="@(() => NavigationService.NavigateToAsync("teams/create"))" />
            <ListPageSearch ValueChanged="@((value) => SearchTeam(value))" />
            <div class="w-100 d-flex">
                <div class="w-100">
                    <table class="table table-hover mb-0">
                        <TableHeader TableActionMenuIsEnable="true" 
                                     Items="_teamTableHeader" 
                                     OrderChanged="@((value) => SortTeam(value.Item1, value.Item2))" />
                        <tbody>
                            @foreach (var team in _teams)
                            {
                                <!-- TODO: реализовать компонент для вывода состояния статуса, так как у них стиль одинаков -->
                                <tr>
                                    <TableBodyRow IsCentered="true">
                                        <div class="px-2 py-1 rounded-4 @(team.Closed ? "bg-danger-subtle text-danger" : "bg-success-subtle text-success")">
                                            @(team.Closed ? "Закрыта" : "Открыта")
                                        </div>
                                    </TableBodyRow>
                                    <TableBodyRow>
                                        <div class="data-link" @onclick="@(() => ShowTeam(team.Id))">
                                            @team.Name
                                        </div>
                                    </TableBodyRow>
                                    <TableBodyRow IsCentered="true">
                                        <div class="px-2 py-1 rounded-4 @(team.HasActiveProject ? "bg-warning-subtle text-warning" : "bg-primary-subtle text-primary")">
                                            @(team.HasActiveProject ? "В работе" : "В поисках")
                                        </div>
                                    </TableBodyRow>
                                    <TableBodyRow IsCentered="true">
                                        @team.MembersCount
                                    </TableBodyRow>
                                    <TableBodyRow IsCentered="true">
                                        @team.CreatedAt.ToString("dd.MM.yyyy")
                                    </TableBodyRow>
                                    <TableActionMenu ItemId="@team.Id"
                                                     OnAction="OnTeamAction"
                                                     ActionIds="@(new Dictionary<MenuAction, object> { 
                                                        [MenuAction.View] = team.Id,
                                                        [MenuAction.Edit] = team.Id,
                                                        [MenuAction.Delete] = team
                                                     })" />
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="list-page-filter w-25 bg-white p-2 ms-2 border-start">
                    <RadioFilter Label="Приватность"
                                 Value1Text="Открытая команда"
                                 Value2Text="Закрытая команда"
                                 @bind-Value="PrivacyState"
                                 OnFilterChanged="@LoadTeamsAsync" />

                    <RadioFilter Label="Опросы"
                                 Value1Text="Опрос не пройден"
                                 Value2Text="Опрос пройден"
                                 @bind-Value="SurveyState"
                                 OnFilterChanged="@LoadTeamsAsync" />

                    <RadioFilter Label="Статус"
                                 Value1Text="В поисках"
                                 Value2Text="В работе"
                                 @bind-Value="HasActiveProjectState"
                                 OnFilterChanged="@LoadTeamsAsync" />

                    <RadioFilter Label="Компетенции"
                                 Value1Text="Искать везде"
                                 Value2Text="Искать по вакансиям"
                                 @bind-Value="SkillsState"
                                 OnFilterChanged="@LoadTeamsAsync" />
                    <div class="w-100">
                        <Typography FontSize="6"CustomClass="fw-semibold">
                            Стек технологий
                        </Typography>
                        <Input Placeholder="Найти" CustomClass="my-1" ValueChanged="@((value) => SearchSkill(value))" />
                        <div class="list-page-filter-choices">
                            @foreach (var skill in _skills)
                            {
                                <div class="list-page-filter-choice px-2 py-1 rounded-1">
                                    <div class="d-flex">
                                        <input type="checkbox" 
                                               checked="@_selectedSkillIds.Contains(skill.Id)"
                                               @onchange="@(e => SelectedSkillsChanged(skill.Id, (bool)e.Value!))"
                                               name="Стек технологий" 
                                               value="@skill.Name"
                                               class="form-check-input" />
                                        <Typography CustomClass="form-check-label ms-2">
                                            @skill.Name
                                        </Typography>
                                    </div>
                                    @if (_userSkillIds.Contains(skill.Id))
                                    {
                                        <i class="icon bi bi-star-fill text-warning"></i>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="w-100 d-flex justify-content-center">
                        <Button BtnType="ButtonType.Button" 
                                Variant="ButtonVariant.Danger"
                                Text="Сбросить фильтры" 
                                IconStyle="bi-x-lg" 
                                OnButtonClick="ResetFilters" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>