@namespace HITSBlazor.Pages.Teams.TeamsList
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Inputs.TeamRadioFilter
@using HITSBlazor.Components.Placeholder
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableHeader

<div class="bg-white teams-list page-content-with-header">
    @if (_isLoading)
    {
        <div class="w-100">
            <table class="table mb-0">
                <thead>
                    <tr>
                        @for (int i = 0; i < 6; ++i)
                        {
                            <th>
                                <Placeholder />
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 5; ++i)
                    {
                        <tr>
                            <td style="height: 67px">
                                <div class="h-100 d-flex align-items-center">
                                    <Placeholder />
                                </div>
                            </td>
                            @for (int j = 0; j < 5; ++j)
                            {
                                <td>
                                    <div class="h-100 d-flex align-items-center">
                                        <Placeholder Height="PlaceholderHeight.Small" />
                                    </div>
                                </td>                        
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="w-100 bg-white p-3">
            <div class="list-page-header w-100">
                <span class="fs-2 text-primary">
                    Список команд: @_teams.Count
                </span>
                <div class="d-flex gap-3">
                    <!-- TODO: кто то явно не может видеть сздание команд -->
                    <button type="button" 
                            @onclick="@(() => NavigationService.NavigateToAsync("teams/create"))" 
                            class="btn d-flex btn-primary">
                        <i class="bi bi-plus-lg fs-5"></i>
                        Создать команду
                    </button>
                </div>
            </div>
            <div class="py-2 d-flex justify-content-between">
                <div class="w-50">
                    <Input IconStyle="bi-search" Placeholder="Поиск" ValueChanged="@((value) => SearchTeam(value))" />
                </div>
            </div>
            <div class="w-100 d-flex">
                <div class="w-100">
                    <table class="table table-hover mb-0">
                        <TableHeader TableActionMenuIsEnable="true" Items="TeamTableHeader" OrderChanged="@((value) => SortTeam(value.Item1, value.Item2))" />
                        <tbody>
                            @foreach (var team in _teams)
                            {
                                <!-- TODO: реализовать компонент для вывода состояния статуса, так как у них стиль одинаков -->
                                <tr>
                                    <TableBodyRow IsCentered="true">
                                        <div class="px-2 py-1 rounded-4 @(team.Closed ? "bg-danger-subtle text-danger" : "bg-success-subtle text-success")">
                                            @(team.Closed ? "Закрыта" : "Открыта")
                                        </div>
                                    </TableBodyRow>
                                    <TableBodyRow>
                                        <div class="data-link" @onclick="@(() => ShowTeam(team.Id))">
                                            @team.Name
                                        </div>
                                    </TableBodyRow>
                                    <TableBodyRow IsCentered="true">
                                        <div class="px-2 py-1 rounded-4 @(team.HasActiveProject ? "bg-warning-subtle text-warning" : "bg-primary-subtle text-primary")">
                                            @(team.HasActiveProject ? "В работе" : "В поисках")
                                        </div>
                                    </TableBodyRow>
                                    <TableBodyRow IsCentered="true">
                                        @team.MembersCount
                                    </TableBodyRow>
                                    <TableBodyRow IsCentered="true">
                                        @team.CreatedAt.ToString("dd.MM.yyyy")
                                    </TableBodyRow>
                                    <TableActionMenu ItemId="@team.Id"
                                                     OnAction="OnTeamAction"
                                                     ActionIds="@(new Dictionary<MenuAction, object> { 
                                                        [MenuAction.View] = team.Id,
                                                        [MenuAction.Edit] = team.Id,
                                                        [MenuAction.Delete] = team
                                                     })" />
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="list-page-filter w-25 bg-white p-2 ms-2 border-start">
                    <TeamRadioFilter 
                        Label="Приватность"
                        Value1Text="Открытая команда"
                        Value2Text="Закрытая команда"
                        @bind-Value="_privacyState"
                        OnFilterChanged="@LoadTeamsAsync" />

                    <TeamRadioFilter 
                        Label="Опросы"
                        Value1Text="Опрос не пройден"
                        Value2Text="Опрос пройден"
                        @bind-Value="_surveyState"
                        OnFilterChanged="@LoadTeamsAsync" />

                    <TeamRadioFilter 
                        Label="Статус"
                        Value1Text="В поисках"
                        Value2Text="В работе"
                        @bind-Value="_hasActiveProjectState"
                        OnFilterChanged="@LoadTeamsAsync" />

                    <TeamRadioFilter 
                        Label="Компетенции"
                        Value1Text="Искать везде"
                        Value2Text="Искать по вакансиям"
                        @bind-Value="_skillsState"
                        OnFilterChanged="@LoadTeamsAsync" />
                    <div class="w-100">
                        <span class="fs-6 fw-semibold">Стек технологий</span>
                        <div class="w-100">
                            <div class="input-group">
                                <input @oninput="SearchSkill" type="text" placeholder="Найти" class="form-control my-1 rounded-end" />
                            </div>
                        </div>
                        <div class="list-page-filter-choices">
                            @foreach (var skill in _skills)
                            {
                                <div class="list-page-filter-choice px-2 py-1 rounded-1">
                                    <div class="d-flex">
                                        <input type="checkbox" 
                                               checked="@_selectedSkillIds.Contains(skill.Id)"
                                               @onchange="@(e => SelectedSkillsChanged(skill.Id, (bool)e.Value!))"
                                               name="Стек технологий" 
                                               value="@skill.Name"
                                               class="form-check-input" />
                                        <span class="form-check-label ms-2">@skill.Name</span>
                                    </div>
                                    @if (_userSkillIds.Contains(skill.Id))
                                    {
                                        <i class="icon bi bi-star-fill text-warning"></i>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="w-100 d-flex justify-content-center">
                        <button type="button" @onclick="@ResetFilters" class="btn d-flex btn-danger">
                            <i class="icon bi bi-x-lg fs-5"></i>
                            Сбросить фильтры
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>