@namespace HITSBlazor.Components.ProjectViewComponents.ProjectViewActiveSprintTasks
@using HITSBlazor.Components.Hint
@using HITSBlazor.Components.Modals.CenterModals.FinishSprintModal
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Projects.Entities
@using HITSBlazor.Models.Users.Entities
@using HITSBlazor.Pages
@using HITSBlazor.Services.Auth
@using HITSBlazor.Services.Modal
@using HITSBlazor.Utils.EnumUIConverters
@inherits ListPageDataLoader

@using HITSTaskStatus = HITSBlazor.Models.Projects.Enums.TaskStatus;

<div class="w-100">
    @{
        string color = GetTaskCategoryColor(TaskCategory);
        <div class="mb-1">
            <div class="rounded-top" style="height: 6px; background-color: @color;">
            </div>
            <div class="active-sprint-header p-2 border-start border-end border-bottom rounded-bottom">
                <div class="d-flex gap-2">
                    <i class="bi bi-flag-fill fs-6" style="color: @color;"></i>
                    <Typography FontSize="6">
                        @EnumUIConverter.GetInfo(TaskCategory).DisplayText
                    </Typography>
                </div>
                <div class="d-flex align-items-center gap-2">
                    @if (TaskCategory is HITSTaskStatus.NewTask)
                    {
                        <i class="bi bi-plus active-sprint-add-task p-1 rounded" @onclick="() => ShowTaskModal()"></i>
                    }
                    <Hint Text="@GetHintTaskStatusText(TaskCategory)" IconColor="TextColor.Dark" />
                </div>
            </div>
        </div>
    }
    <div class="list-group active-sprint-column" @ref="_tableContainer">
        @foreach (var task in _sprintTasks)
        {
            <div class="d-flex my-1" style="cursor: pointer;">
                <div class="rounded-start" style="width: 6px; background-color: rgb(@GetTaskExecuteColor(task.Executor));">
                </div>
                <div class="bg-white p-2 border-top border-end border-bottom w-100 rounded-end">
                    <div class="d-flex flex-column border-bottom pb-2">
                        <div class="active-sprint-task">
                            <div class="text-ellipsis">
                                @task.Name
                            </div>
                        </div>
                        <div class="d-flex gap-1 text-secondary">
                            @task.Executor?.FullName
                        </div>
                    </div>
                    <div class="d-flex flex-wrap gap-2 w-100 mt-2">
                        @foreach (var tag in task.Tags)
                        {
                            <div class="px-2 py-1 rounded-2 text-center align-self-start"
                                 style="background-color: @($"{tag.Color}4D"); color: @tag.Color;">
                                @tag.Name
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>