@namespace HITSBlazor.Components.ProjectViewComponents.ProjectViewActiveSprintTasks
@using HITSBlazor.Components.Hint
@using HITSBlazor.Components.Modals.CenterModals.FinishSprintModal
@using HITSBlazor.Components.ProjectViewComponents.ProjectViewActiveSprintTaskContent
@using HITSBlazor.Components.Tags
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Projects.Entities
@using HITSBlazor.Models.Users.Entities
@using HITSBlazor.Pages
@using HITSBlazor.Services.Auth
@using HITSBlazor.Services.Modal
@using HITSBlazor.Utils.EnumUIConverters
@inherits ListPageDataLoader

@using HITSTaskStatus = HITSBlazor.Models.Projects.Enums.TaskStatus;

<div class="w-100 sprint-column-wrapper"
     data-category="@TaskCategory.ToString()"
     @onmouseup="HandleDrop"
     @onmouseenter="() => _isDragOver = DragDrop.DraggedTask != null && DragDrop.DraggedTask.Status != TaskCategory && CanDropTask(DragDrop.DraggedTask)"
     @onmouseleave="() => _isDragOver = false"
     style="@(IsDragging ? "user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;" : "")">
    @{
        string color = GetTaskCategoryColor(TaskCategory);
        bool canDrop = DragDrop.DraggedTask != null && CanDropTask(DragDrop.DraggedTask);
        bool isDragOverTarget = _isDragOver && canDrop;
        string dragOverClass = isDragOverTarget ? "active-sprint-column-dragover" : "";
        <div class="mb-1">
            <div class="rounded-top" style="height: 6px; background-color: @color;">
            </div>
            <div class="active-sprint-header p-2 border-start border-end border-bottom rounded-bottom">
                <div class="d-flex gap-2">
                    <i class="bi bi-flag-fill fs-6" style="color: @color;"></i>
                    <Typography FontSize="6">
                        @EnumUIConverter.GetInfo(TaskCategory).DisplayText
                    </Typography>
                </div>
                <div class="d-flex align-items-center gap-2">
                    @if (TaskCategory is HITSTaskStatus.NewTask)
                    {
                        <i class="bi bi-plus active-sprint-add-task p-1 rounded" @onclick="() => ShowTaskModal()"></i>
                    }
                    <Hint Text="@GetHintTaskStatusText(TaskCategory)" IconColor="TextColor.Dark" />
                </div>
            </div>
        </div>
    }
    <div class="list-group active-sprint-column @dragOverClass" @ref="_tableContainer">
        @foreach (var task in _sprintTasks)
        {
            var order = _sprintTasks.IndexOf(task);
            @if (CanDragTask(task))
            {
                <div class="d-flex my-1 task-item task-item-draggable @(DragDrop.DraggedTask?.Id == task.Id ? "task-item-dragging" : "")"
                     data-task-id="@task.Id"
                     style="opacity: @(DragDrop.DraggedTask?.Id == task.Id ? "0.3" : "1"); order: @order"
                     @onmousedown="(e) => HandleMouseDown(e, task)"
                     @onmousemove="HandleMouseMove"
                     @onmouseup="HandleMouseUp"
                     @onmousedown:preventDefault="true">
                    <ProjectViewActiveSprintTaskContent CurrentTask="task" />
                </div>
            }
            else
            {
                <div class="d-flex my-1 task-item task-item-not-draggable"
                     style="opacity: 1"
                     @onclick="() => ShowSprintTaskModal(task.Id)">
                    <ProjectViewActiveSprintTaskContent CurrentTask="task" />
                </div>
            }
        }
    </div>
</div>