@namespace HITSBlazor.Pages.Tests.ResultsList
@using HITSBlazor.Components.Filters.CheckboxFilter
@using HITSBlazor.Components.Filters.RadioFilter
@using HITSBlazor.Components.ListPageComponents.ListPageHeader
@using HITSBlazor.Components.ListPageComponents.ListPageSearch
@using HITSBlazor.Components.ListPageComponents.ListPageTable
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableHeader

<div class="h-auto bg-white">
    <div class="w-100 bg-white p-3">
        <ListPageHeader HeaderText="@($"Список тестов: {_results.Count}")" />
        <ListPageSearch ValueChanged="@((value) => SearchResult(value))" />
        <ListPageTable>
            <TableContent>
                <TableHeader Items="_resultTableHeader" />
                <tbody>
                    @foreach (var result in _results)
                    {
                        <tr>
                            <TableBodyRow>
                                <div class="text-primary data-link">
                                    @result.User.Email
                                </div>
                            </TableBodyRow>
                            <TableBodyRow>
                                @result.User.FirstName
                            </TableBodyRow>
                            <TableBodyRow>
                                @result.User.LastName
                            </TableBodyRow>
                            <TableBodyRow>
                                @result.User.StudyGroup
                            </TableBodyRow>
                            <TableBodyRow>
                                @result.BelbinResult
                            </TableBodyRow>
                            <TableBodyRow>
                                @result.MindResult
                            </TableBodyRow>
                            <TableBodyRow>
                                @result.TemperResult
                            </TableBodyRow>
                        </tr>
                    }
                </tbody>
            </TableContent>
            <FilterContent>
                <!-- <CheckboxFilter T="string" Label="Учебная группа" /> -->
                <!-- <CheckboxFilter T="string" Label="Тест Белбина" /> -->
                <!-- <RadioFilter /> -->
            </FilterContent>
        </ListPageTable>
    </div>
</div>