@namespace HITSBlazor.Components.Inputs.Select

<div class="w-100">
    <label class="form-label text-primary">
        @Label*
    </label>
    <select value="@Value" @onchange="OnOptionChanged" class="form-select @(_showError ? "is-invalid" : string.Empty)">
        <option disabled value="">Выберите значение</option>
        @foreach (var option in Options)
        {
            <option value="@option.Key">@option.Value</option>
        }
    </select>
    @if (_showError)
    {
        <span class="invalid-feedback">@ErrorMessage</span>
    }
</div>