@namespace HITSBlazor.Components.Inputs.Select
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Typography

<div class="w-100">
    @if (IsLoading)
    {
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <Placeholder Width="w-25" />
        }
        <Placeholder Height="PlaceholderHeight.Smaller" />
    }
    else
    {
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <label class="form-label text-primary">
                @Label*
            </label>
        }
        <select value="@Value" @onchange="OnOptionChanged" class="form-select @(_showError ? "is-invalid" : string.Empty)">
            <option disabled value="">Выберите значение</option>
            @foreach (var option in Options)
            {
                <option value="@option.Key">@option.Value</option>
            }
        </select>
        @if (_showError)
        {
            <Typography CustomClass="invalid-feedback">@ErrorMessage</Typography>
        }
    }
</div>