@namespace HITSBlazor.Components.Modals.RightSideModals.TeamModal
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Collapse
@using HITSBlazor.Components.ListPageComponents.ListPageSearch
@using HITSBlazor.Components.Modals.Components
@using HITSBlazor.Components.Modals.Components.ModalHeader
@using HITSBlazor.Components.Modals.Components.RightSideModaCollapselInfo
@using HITSBlazor.Components.Modals.Components.RightSideModalInfo
@using HITSBlazor.Components.NavigationTabs
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Skills
@using HITSBlazor.Components.Statuses.EnumStatus
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableHeader
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Models.Teams.Enums
@using HITSBlazor.Utils.EnumStyles
@using HITSBlazor.Utils.Models

<div class="right-side-modal p-3 overflow-y-scroll" @onclick:stopPropagation="true">
    @if (_isLoading || _currentTeam is null)
    {
        <div class="team-modal-placeholder w-75 h-100">
            <Placeholder Width="w-75" />
            <div class="p-2 bg-white rounded-3 d-flex flex-column gap-1">
                <Placeholder Width="w-50" />
                <Placeholder />
                <Placeholder />
            </div>
            <div class="w-100">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            @for (int i = 0; i < 6; ++i)
                            {
                                <th>
                                    <Placeholder />
                                </th>                                
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 5; ++i)
                        {
                            <tr>
                                <td>
                                    <div class="h-100 d-flex align-items-center">
                                        <Placeholder />
                                    </div>
                                </td>
                                @for (int j = 0; j < 5; ++j)
                                {
                                    <td>
                                        <div class="h-100 d-flex align-items-center">
                                            <Placeholder Height="PlaceholderHeight.Small" />
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="p-2 bg-white rounded-3 gap-2 d-flex">
                <Placeholder Width="w-25" Height="PlaceholderHeight.Small" />
                <Placeholder Width="w-25" Height="PlaceholderHeight.Small" />
                <Placeholder Width="w-25" Height="PlaceholderHeight.Small" />
            </div>
        </div>
        <div class="team-modal-placeholder p-2 w-25 bg-white rounded">
            <div class="d-flex gap-2 w-100 px-1 pt-1">
                <div class="bg-primary w-50 py-3 rounded-3"></div>
                <div class="bg-primary w-50 py-3 rounded-3"></div>
            </div>
            <div class="px-1">
                <Placeholder Width="w-50" />
                <Placeholder />
                <Placeholder />
            </div>
            <div class="px-1">
                <Placeholder Width="w-50" />
                <Placeholder />
                <Placeholder />
                <Placeholder />
            </div>
            <div class="px-1 pb-1">
                <Placeholder />
                <Placeholder Width="w-75" />
                <Placeholder Width="w-75" />
            </div>
        </div>
    }
    else
    {
        <div class="team-modal-side w-75">
            <RightSideModalHeader HeaderText="@_currentTeam.Name" />
            <RightSideModaCollapselInfo Data="_teamData" />
            <div class="bg-white rounded-3">
                <div class="border-bottom px-3">
                    <NavigationTabs T="TeamTableCategory" 
                                    Tabs="Enum.GetValues<TeamTableCategory>()" 
                                    ActiveTab="_activeTableCategory"
                                    ActiveTabChanged="(value) => ChangeCategory(value)"
                                    NavType="NavigationTabType.Underline"
                                    NavLinkClass="fw-normal pb-1" />
                </div>
                <div class="team-modal-tables">
                    <div class="w-100 bg-white px-3 pb-3 pt-1">
                        <!-- TODO: реализовать поиск -->
                        <ListPageSearch IsLoading="_isLoading" ValueChanged="@((value) => SearchData(value))" />
                        <div class="w-100 d-flex">
                            <div class="w-100">
                                <table class="table table-hover mb-0">
                                    @switch (_activeTableCategory)
                                    {
                                        case TeamTableCategory.Members:
                                            <TableHeader TableActionMenuIsEnable="true" Items="MembersTableHeader" />
                                            break;
                                        case TeamTableCategory.Invitations:
                                        case TeamTableCategory.RequestsToTeam:
                                            <TableHeader TableActionMenuIsEnable="true" Items="NewMembersTableHeader" />
                                            break;
                                        case TeamTableCategory.RequestsTeamToIdeas:
                                            <TableHeader TableActionMenuIsEnable="true" Items="RequestsToIdeasTableHeader" />
                                            break;
                                        case TeamTableCategory.InvitationsTeamToIdeas:
                                            <TableHeader TableActionMenuIsEnable="true" Items="InvitationsToIdeasTableHeader" />
                                            break;
                                    }
                                    <tbody>
                                        @if (_activeTableCategory == TeamTableCategory.Members)
                                        {
                                            @foreach (var member in _currentTeam.Members)
                                            {
                                                <tr>
                                                    <TableBodyRow>
                                                        @{
                                                            var displayInfo = GetRoleDisplayInfo(member.Id);
                                                            <div class="data-link @(displayInfo.TextColor.HasValue ? $"text-{displayInfo.TextColor.Value.ToString().ToLower()}" : string.Empty)">
                                                                @member.Email
                                                                @(member.Id == _currentTeam.Owner.Id ? " (Владелец)" : string.Empty)
                                                            </div>
                                                        }
                                                    </TableBodyRow>
                                                    <TableBodyRow>
                                                        @member.FirstName
                                                    </TableBodyRow>
                                                    <TableBodyRow>
                                                        @member.LastName
                                                    </TableBodyRow>
                                                    <TableActionMenu ItemId="member.Id"
                                                                     StrategyPosition="Strategy.Fixed"
                                                                     OnAction="@HandleTableMenuClick"
                                                                     ActionIds="@(new Dictionary<MenuAction, object> {
                                                                        [MenuAction.ViewProfile] = member.UserId,
                                                                        [MenuAction.SetLeader] = member.UserId,
                                                                        [MenuAction.UnsetLeader] = member.UserId,
                                                                        [MenuAction.RemoveTeamMember] = member.UserId
                                                                     })" />
                                                </tr>
                                            }
                                        }
                                        else if (_activeTableCategory == TeamTableCategory.Invitations)
                                        {
                                            @foreach (var invitation in _teamInvitations)
                                            {
                                                <tr>
                                                    <TableBodyRow IsCentered="true">
                                                        <EnumStatus Statustype="invitation.Status" />
                                                    </TableBodyRow>
                                                    <TableBodyRow IsCentered="true">
                                                        <div class="data-link">
                                                            @invitation.Email
                                                        </div>
                                                    </TableBodyRow>
                                                    <TableBodyRow IsCentered="true">
                                                        @invitation.FirstName
                                                    </TableBodyRow>
                                                    <TableBodyRow IsCentered="true">
                                                        @invitation.LastName
                                                    </TableBodyRow>
                                                    <TableActionMenu ItemId="invitation.Id"
                                                                     StrategyPosition="Strategy.Fixed"
                                                                     OnAction="@HandleTableMenuClick"
                                                                     ActionIds="@(new Dictionary<MenuAction, object> { 
                                                                        [MenuAction.ViewProfile] = invitation.UserId 
                                                                     })" />
                                                </tr>
                                            }
                                        }
                                        else if (_activeTableCategory == TeamTableCategory.RequestsToTeam)
                                        {
                                            @foreach (var request in _requestsToTeam)
                                            {
                                                <tr>
                                                    <TableBodyRow IsCentered="true">
                                                        <EnumStatus Statustype="request.Status" />
                                                    </TableBodyRow>
                                                    <TableBodyRow IsCentered="true">
                                                        <div class="data-link">
                                                            @request.Email
                                                        </div>
                                                    </TableBodyRow>
                                                    <TableBodyRow IsCentered="true">
                                                        @request.FirstName
                                                    </TableBodyRow>
                                                    <TableBodyRow IsCentered="true">
                                                        @request.LastName
                                                    </TableBodyRow>
                                                    <TableActionMenu ItemId="request.Id"
                                                                     StrategyPosition="Strategy.Fixed"
                                                                     OnAction="@HandleTableMenuClick"
                                                                     ActionIds="@(new Dictionary<MenuAction, object> {
                                                                        [MenuAction.ViewProfile] = request.UserId,
                                                                        [MenuAction.TeamRequestAccept] = request.Id,
                                                                        [MenuAction.TeamRequestCancel] = request.Id
                                                                     })" />
                                                </tr>
                                            }
                                        }
                                        else if (_activeTableCategory == TeamTableCategory.RequestsTeamToIdeas)
                                        {
                                            @foreach (var request in _requestsTeamToIdeas)
                                            {
                                                <tr>
                                                    <TableBodyRow>
                                                        <div class="data-link">
                                                            @request.Name
                                                        </div>
                                                    </TableBodyRow>
                                                    <TableBodyRow IsCentered="true">
                                                        <EnumStatus Statustype="request.Status" />
                                                    </TableBodyRow>
                                                    <TableActionMenu ItemId="request.Id"
                                                                     StrategyPosition="Strategy.Fixed"
                                                                     OnAction="@HandleTableMenuClick"
                                                                     ActionIds="@(new Dictionary<MenuAction, object> {
                                                                        [MenuAction.ViewIdeaMarket] = request.IdeaMarketId,
                                                                        [MenuAction.ViewLetter] = request.Letter
                                                                     })" />
                                                </tr>
                                            }
                                        }
                                        else if (_activeTableCategory == TeamTableCategory.InvitationsTeamToIdeas)
                                        {
                                            @foreach (var invitation in _invitationsTeamToIdeas)
                                            {
                                                <tr>
                                                    <TableBodyRow IsCentered="true">
                                                        <EnumStatus Statustype="invitation.Status" />
                                                    </TableBodyRow>
                                                    <TableBodyRow>
                                                        <div class="data-link">
                                                            @invitation.IdeaName
                                                        </div>
                                                    </TableBodyRow>
                                                    <TableBodyRow IsCentered="true">
                                                        <Skills SkillList="invitation.Skills" />
                                                    </TableBodyRow>
                                                    <TableActionMenu ItemId="invitation.Id"
                                                                     StrategyPosition="Strategy.Fixed"
                                                                     OnAction="@HandleTableMenuClick"
                                                                     ActionIds="@(new Dictionary<MenuAction, object> {
                                                                        [MenuAction.ViewIdea] = invitation.IdeaId
                                                                     })" />
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TODO: реализовать нажатие кнопок -->
            <div class="rounded-3 bg-white p-3 d-flex flex-wrap gap-3">
                <Button Variant="ButtonVariant.Light" Text="Редактировать" />
                <Button Variant="ButtonVariant.Danger" Text="Удалить команду" />
                @* TODO: октрывать модальное окно, которое в создании команды *@
                <Button Variant="ButtonVariant.Primary" Text="Пригласить пользователя" />
            </div>
        </div>
        <RightSideModalInfo Skills1="_currentTeam.Skills" 
                            Skills1Label="Желаемые компетенции"     
                            Skills2="_currentTeam.WantedSkills" 
                            Skills2Label="Фактические компетенции" 
                            Items="_infoItems" 
                            SearhButtonTest="Поделиться командой" />
    }
</div>