@namespace HITSBlazor.Components.Modals.Components.RightSideModalInfo
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Modals.Components.RightSideModalInfoItemComponent
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Utils.EnumStyles
@using HITSBlazor.Utils.Models

<div class="right-side-modal-info w-25 @GetSideClass(!IsSplitted)">
    <div class="p-2 rounded-top d-flex gap-2 rounded-3 bg-white">
        <Button ButtonClass="@($"w-50 {GetInfoCategoryClass(RightSideModalCategory.Info)}")" 
                Text="@GetCategoryText(RightSideModalCategory.Info)"
                OnButtonClick="() => _activeInfoCategory = RightSideModalCategory.Info" />
        <Button ButtonClass="@($"w-50 {GetInfoCategoryClass(RightSideModalCategory.Skills)}")" 
                Text="@GetCategoryText(RightSideModalCategory.Skills)" 
                OnButtonClick="() => _activeInfoCategory = RightSideModalCategory.Skills" />
    </div>
    <div class="@GetSideClass(IsSplitted)">
        @if (IsSplitted)
        {
            <div class="right-side-modal-info-header w-100 bg-primary rounded-top fs-5 text-white p-2">
                @GetCategoryText(_activeInfoCategory)
            </div>            
        }
        <div class="right-side-modal-info-items w-100 pb-3 px-3 @(IsSplitted ? "pt-3" : string.Empty)">
            @if (_activeInfoCategory == RightSideModalCategory.Info)
            {
                @foreach (var item in Items)
                {
                    <RightSideModalInfoItemComponent Label="@item.Label" 
                                                     IsInline="@item.IsInline"
                                                     Icon="@item.Icon"
                                                     Text="@item.Text"
                                                     TextColor="@item.TextColor"
                                                     IsLinkable="@item.IsLinkable"
                                                     OnLinkClick="() => item.LinkMethod?.Invoke()" />
                }
                <Button Text="@SearhButtonTest"
                        Variant="ButtonVariant.Primary" />
            }
            else if (_activeInfoCategory == RightSideModalCategory.Skills)
            {
                <div class="radar-charts">
                    @foreach (var type in Enum.GetValues<SkillType>())
                    {
                        var teamSkills = Skills1.Where(s => s.Type == type).ToList();
                        var teamWantedSkills = Skills2.Where(s => s.Type == type).ToList();
                        var intersectSkills = teamWantedSkills.IntersectBy(teamSkills.Select(s => s.Id), ws => ws.Id).ToList();

                        var allSkills = teamSkills
                        .UnionBy(teamWantedSkills, s => s.Id)
                        .OrderBy(s => s.Name)
                        .ToList();

                        if (allSkills?.Count > 0)
                        {
                            <ApexChart TItem="Skill"
                                       Options="@GetRadarChartOptions()"
                                       Width="250"
                                       Height="275">
                                <ApexPointSeries TItem="Skill"
                                                 Items="allSkills"
                                                 Name="@Skills1Label"
                                                 SeriesType="SeriesType.Radar"
                                                 XValue="@(s => s.Name)"
                                                 YValue="@(s => teamWantedSkills.Contains(s) ? 1 : 0)"
                                                 Color="@type.GetWantedColor()" />
                                <ApexPointSeries TItem="Skill"
                                                 Items="allSkills"
                                                 Name="@Skills2Label"
                                                 SeriesType="SeriesType.Radar"
                                                 XValue="@(s => s.Name)"
                                                 YValue="@(s => teamSkills.Contains(s) ? 1 : 0)"
                                                 Color="@type.GetColor()" />
                                <ApexPointSeries TItem="Skill"
                                                 Items="allSkills"
                                                 Name="Пересечение"
                                                 SeriesType="SeriesType.Radar"
                                                 XValue="@(s => s.Name)"
                                                 YValue="@(s => intersectSkills.Contains(s) ? 1 : 0)"
                                                 Color="#bfbfbf" />
                            </ApexChart>
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>