@namespace HITSBlazor.Components.Filters.SkillFilter
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Services.Auth
@using HITSBlazor.Services.Skills
@using HITSBlazor.Services.UserSkills

<div class="w-100">
    <Typography FontSize="6"CustomClass="fw-semibold">
        Стек технологий
    </Typography>
    <Input Placeholder="Найти" CustomClass="my-1" Value="@SeacrhSkillText" ValueChanged="@((value) => SearchSkill(value))" />
    <div class="list-page-filter-choices">
        @foreach (var skill in _skills)
        {
            <div class="list-page-filter-choice px-2 py-1 rounded-1">
                <div class="d-flex">
                    <input type="checkbox" 
                           checked="@SelectedSkillIds.Contains(skill.Id)"
                           @onchange="@(e => SelectedSkillsChanged(skill.Id, (bool)e.Value!))"
                           name="Стек технологий" 
                           value="@skill.Name"
                           class="form-check-input" />
                    <Typography CustomClass="form-check-label ms-2">
                        @skill.Name
                    </Typography>
                </div>
                @if (_userSkillIds.Contains(skill.Id))
                {
                    <i class="icon bi bi-star-fill text-warning"></i>
                }
            </div>
        }
    </div>
</div>

@code {
    [Inject]
    private IAuthService AuthService { get; set; } = null!;

    [Inject]
    private ISkillService SkillService { get; set; } = null!;

    [Inject]
    private IUserSkillService UserSkillService { get; set; } = null!;

    [Parameter]
    public string SeacrhSkillText { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> SeacrhSkillTextChanged { get; set; }

    [Parameter]
    public HashSet<Guid> SelectedSkillIds { get; set; } = [];

    [Parameter]
    public EventCallback<HashSet<Guid>> SelectedSkillIdsChanged { get; set; }

    [Parameter]
    public EventCallback OnFilterChanged { get; set; }

    private List<Skill> _skills = [];
    private HashSet<Guid> _userSkillIds = [];

    protected override async Task OnInitializedAsync()
    {
        if (AuthService.CurrentUser is not null)
            _userSkillIds = [.. (await UserSkillService.GetUserSkillsAsync(AuthService.CurrentUser.Id)).Select(s => s.Id)];
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadSkillsAsync();
    }

    private async Task LoadSkillsAsync()
    {
        _skills = await SkillService.GetSkillsAsync(searchText: SeacrhSkillText);

        _skills = [.. _skills
            .OrderByDescending(s => _userSkillIds.Contains(s.Id))
            .ThenBy(s => s.Name)];
        StateHasChanged();
    }

    private async Task SearchSkill(string value)
    {
        SeacrhSkillText = value;
        await SeacrhSkillTextChanged.InvokeAsync(value);
    }

    private async Task SelectedSkillsChanged(Guid skillId, bool isChecked)
    {
        if (isChecked) SelectedSkillIds.Add(skillId);
        else SelectedSkillIds.Remove(skillId);

        await SelectedSkillIdsChanged.InvokeAsync(SelectedSkillIds);
        await OnFilterChanged.InvokeAsync();
    }
}