@namespace HITSBlazor.Components.Modals.RightSideModals.IdeaModal
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.ActionsMenus.CommentActionMenu
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Collapse
@using HITSBlazor.Components.Inputs.Select
@using HITSBlazor.Components.Modals.Components.ModalHeader
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.ProgressBar
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Models.Ideas.Enums
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Services.Ideas
@using HITSBlazor.Services.Modal
@using HITSBlazor.Utils.EnumStyles
@using HITSBlazor.Utils.Models

<div class="right-side-modal p-3 overflow-y-scroll" @onclick:stopPropagation="true">
    <div class="idea-modal-side w-75">
        @if (isLoading || CurrentIdea is null)
        {
            <Placeholder Width="w-75" />
            <div class="p-2 bg-white rounded-3 d-flex flex-column gap-1">
                <Placeholder Width="w-50" />
                <Placeholder />
                <Placeholder />
                <Placeholder />
            </div>
        }
        else
        {
            <RightSideModalHeader HeaderText="@CurrentIdea.Name" />
            <ul class="list-group rounded-3">
                @foreach (var data in ideaData)
                {
                    <li class="list-group-item p-0 overflow-hidden">
                        <Collapse StartCollapsed="false">
                            <MainContent Context="collapse">
                                <Button BtnType="ButtonType.Button"
                                        Text="@data.Title"
                                        Variant="ButtonVariant.Light"
                                        ButtonClass="w-100 collapse-controller"
                                        OnButtonClick="() => collapse.Toggle()" />
                            </MainContent>
                            <ExpandedContent>
                                <div class="list-group">
                                    <div class="p-2">
                                        @if (data.Data is List<Skill>)
                                        {
                                            <div class="d-flex flex-wrap gap-1">
                                                @foreach (var skill in IdeaSkills)
                                                {
                                                    <div class="px-2 py-1 rounded d-flex gap-1 @(EnumViewModel<SkillType>.GetStyle(skill.Type))">
                                                        <Typography FontSize="6">
                                                            @skill.Name
                                                        </Typography>
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            @data.Data
                                        }
                                    </div>
                                </div>
                            </ExpandedContent>
                        </Collapse>
                    </li>
                }
            </ul>
        }
        <!-- TODO: сделать валидацию полей рейтинга -->
        @if (CheckIdeaRatingAccess() && !isRatingConfirmed)
        {
            <div class="idea-modal-rating bg-white rounded-3 p-3 d-grid w-100">
                <div class="w-100 row row-cols-2">
                    <div class="w-50 col-2 mb-2">
                        @if (isLoading)
                        {
                            @for (int i = 0; i < 5; ++i)
                            {
                                <Placeholder Height="PlaceholderHeight.Small" />
                            }
                        }
                        else
                        {
                            <Select Label="Рыночная ценность" 
                                    @bind-Value="@MarketValue"
                                    NeedValidation="_submitted"
                                    Options="IdeasRatingCategories.MarketValueOptions" />
                            <Select Label="Уникальность" 
                                    @bind-Value="@Originality"
                                    NeedValidation="_submitted"
                                    Options="IdeasRatingCategories.OriginalityOptions" />
                            <Select Label="Реализуемость" 
                                    @bind-Value="@TechnicalRealizability"
                                    NeedValidation="_submitted"
                                    Options="IdeasRatingCategories.TechnicalRealizabilityOptions" />
                            <Select Label="Пригодность" 
                                    @bind-Value="@Suitability"
                                    NeedValidation="_submitted"
                                    Options="IdeasRatingCategories.SuitabilityOptions" />
                            <Select Label="Бюджет" 
                                    @bind-Value="@Budget"
                                    NeedValidation="_submitted"
                                    Options="IdeasRatingCategories.BudgetOptions" />
                        }
                    </div>
                </div>
                @if (isLoading)
                {
                    <Placeholder />
                }
                else
                {
                    <ProgressBar Text="Рейтинг" 
                                 Score="_expertRatingValue"
                                 CategoryCounts="5" />
                    <div class="d-flex gap-3">
                        <Button BtnType="ButtonType.Button" 
                                Variant="ButtonVariant.Primary" 
                                IsLoading="isRatingConfirming"
                                OnButtonClick="ConfirmRating"
                                Text="Утвердить"
                                LoadingText="Утверждение"/>
                        <Button BtnType="ButtonType.Button" 
                                Variant="@(isRatingSaved ? ButtonVariant.Success : ButtonVariant.Primary)" 
                                IsLoading="isRatingSaving"
                                OnButtonClick="SaveRating"
                                Text="Сохранить форму"
                                LoadingText="Сохранение"/>
                    </div>
                }
            </div>            
        }
        @if (isLoading || CheckInitiatorAccess() || CheckProjectOfficeAccess())
        {
            <div class="bg-white d-flex rounded-3 @(isLoading ? "p-2 gap-2" : "p-3 gap-3 flex-wrap")">
                @if (isLoading || CurrentIdea is null)
                {
                    @for (int i = 0; i < 3; ++i)
                    {
                        <Placeholder Width="w-25" Height="PlaceholderHeight.Small" />
                    }
                }
                else
                {
                    @if (CheckInitiatorAccess())
                    {
                        <Button BtnType="ButtonType.Button" 
                                Variant="ButtonVariant.Light" 
                                OnButtonClick="NavigateToCreateIdea"
                                Text="Редактировать" />
                        <Button BtnType="ButtonType.Button" 
                                Variant="ButtonVariant.Success" 
                                OnButtonClick="@(() => UpdateIdeaStatus(IdeaStatusType.OnApproval))"
                                Text="Отправить на согласование" />
                    }

                    @if (CheckProjectOfficeAccess())
                    {
                        <Button BtnType="ButtonType.Button" 
                                Variant="ButtonVariant.Danger" 
                                OnButtonClick="@(() => UpdateIdeaStatus(IdeaStatusType.OnEditing))"
                                Text="Отправить на доработку" />
                        <Button BtnType="ButtonType.Button" 
                                Variant="ButtonVariant.Success" 
                                OnButtonClick="@(() => UpdateIdeaStatus(IdeaStatusType.OnConfirmation))"
                                Text="Отправить на утверждение" />
                    }
                }
            </div>
        }
        <div class="bg-white rounded-3 @(isLoading ? "pb-2" : string.Empty)">
            @if (isLoading)
            {
                <div class="d-grid gap-3 pt-2 px-2 w-100">
                    @for (int chatItem = 0; chatItem < 3; ++chatItem)
                    {
                        <div class="card rounded-3 shadow advertisement @(chatItem % 2 == 0 ? "current-user-advertisement" : string.Empty)">
                            <div class="card-header d-flex gap-3 justify-content-between align-items-center">
                                <Placeholder Width="w-25" />
                                <Placeholder Width="w-75" />
                            </div>
                            <div class="card-body">
                                <Placeholder />
                                <Placeholder />
                            </div>
                        </div>
                    }
                </div>                
            }
            else
            {
                <div class="py-2 w-100 border-bottom">
                    <Typography FontSize="6" CustomClass="px-3">
                        Комментарии
                    </Typography>
                </div>
                <div class="d-grid gap-3 pt-3 px-3 w-100">
                    @foreach (var comment in IdeaComments)
                    {
                        var sender = comment.Sender;
                        var isCurrentUserMessage = sender.Id == CurrentUser?.Id;
                        <div class="card rounded-3 shadow advertisement @(isCurrentUserMessage ? "current-user-advertisement" : string.Empty)">
                            <div class="card-header d-flex justify-content-between align-items-center advertisement-header">
                                <Typography FontSize="6" TextColor="TextColor.Primary">
                                    @sender.FullName
                                </Typography>
                                <div class="d-flex gap-2 align-items-center">
                                    <Typography TextColor="TextColor.Primary">
                                        @comment.CreatedAt.ToString("dd.MM.yyyy в HH:mm")
                                    </Typography>
                                    @if (isCurrentUserMessage)
                                    {
                                        <CommentActionMenu ItemId="comment.Id"
                                                           StrategyPosition="Strategy.Fixed" 
                                                           OnAction="@HandleActionMenuClick"
                                                           ActionIds="@(new Dictionary<MenuAction, object> { 
                                                                [MenuAction.Delete] = comment
                                                           })"/>                                      
                                    }
                                </div>
                            </div>
                            <div class="card-body py-2">
                                @comment.Text
                            </div>
                        </div>                        
                    }
                </div>
                <!-- TODO: система комментариев не сделана -->
                <div class="p-3">
                    <div class="d-flex gap-3 align-items-start">
                        <div class="w-100">
                            <div class="input-group">
                                <Typography FontSize="6" CustomClass="input-group-text">
                                    <i class="bi bi-chat"></i>
                                </Typography>
                                <input type="text" placeholder="Добавить комментарий" class="form-control rounded-end" />
                            </div>
                        </div>
                        <Button BtnType="ButtonType.Button" 
                                Variant="ButtonVariant.Primary"
                                Text="Отправить" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="idea-modal-side w-25 bg-white rounded @(isLoading ? "pb-3" : string.Empty)">
        @if (isLoading || CurrentIdea is null)
        {
            <div class="bg-primary py-4 rounded-top-3"></div>
            <div class="px-2">
                <Placeholder Width="w-50" />
                <Placeholder />
                <Placeholder />
            </div>
            <div class="px-2">
                <Placeholder Width="w-50" />
                <Placeholder />
                <Placeholder />
                <Placeholder />
            </div>
            <div class="mt-3 px-2">
                <Placeholder />
                <Placeholder Width="w-75" />
                <Placeholder Width="w-75" />
            </div>
        }
        else
        {
            <Typography FontSize="4" TextColor="TextColor.White" CustomClass="p-2 bg-primary rounded-top text-center">
                @(
                        CurrentIdea.Status == IdeaStatusType.OnConfirmation
                            ? $"Утвердили {IdeaRatings.Where(r => r.IsConfirmed).Count()}/{IdeaRatings.Count()}"
                            : EnumViewModel<IdeaStatusType>.GetTranslation(CurrentIdea.Status)
                )
            </Typography>
            <div class="w-100 pb-3 px-3 idea-info">
                <div>
                    <Typography FontSize="6" TextColor="TextColor.Secondary" CustomClass="border-bottom d-block">
                        Заказчик
                    </Typography>
                    <div class="pt-2 idea-sub-info">
                        <i class="bi bi-person-circle text-secondary fs-3 opacity-25"></i>
                        <Typography FontSize="6" TextColor="TextColor.Primary">
                            @CurrentIdea.Customer
                        </Typography>
                    </div>
                </div>
                <div>
                    <Typography FontSize="6" TextColor="TextColor.Secondary" CustomClass="border-bottom d-block">
                        Инициатор
                    </Typography>
                    <div class="pt-2 idea-sub-info">
                        <i class="bi bi-envelope text-secondary fs-3 opacity-25"></i>
                        <div @onclick="@(() => ModalService.ShowProfileModal(CurrentIdea.Initiator.Id))" 
                             class="text-primary data-link">
                            @CurrentIdea.Initiator.FirstName @CurrentIdea.Initiator.LastName
                        </div>
                    </div>
                </div>
                <div>
                    <Typography FontSize="6" TextColor="TextColor.Secondary" CustomClass="border-bottom d-block">
                        Эксперты
                    </Typography>
                    @foreach (var rating in IdeaRatings)
                    {
                        <div class="pt-2 idea-sub-info">
                            <i class="text-secondary fs-3 bi @(rating.IsConfirmed ? "bi-check-lg opacity-50 text-success" : "bi-clock-history opacity-25")"></i>
                            <Typography FontSize="6" TextColor="TextColor.Primary">
                                @rating.ExpertFullName
                            </Typography>
                            <!-- TODO: заменить метод на работу с Enum-->
                            <Typography FontSize="6" CustomClass="@(rating.IsConfirmed ? rating.RatingValue.GetStyle() : string.Empty)">
                                @(rating.IsConfirmed ? rating.RatingValue : string.Empty)
                            </Typography>
                        </div>
                    }
                </div>
                <div>
                    <Typography FontSize="6" TextColor="TextColor.Secondary" CustomClass="border-bottom d-block">
                        Режим
                    </Typography>
                    <div class="pt-2 idea-sub-info">
                        <i class="bi bi-circle-fill text-success fs-3 opacity-50"></i>
                        <Typography FontSize="6" TextColor="TextColor.Primary">
                            @(EnumViewModel<RoleType>.GetTranslation(CurrentUser?.Role))
                        </Typography>
                    </div>
                </div>
                <Button BtnType="ButtonType.Button" 
                        Variant="ButtonVariant.Primary"
                        Text="Поделиться идеей" />
            </div>
        }
    </div>
</div>