@namespace HITSBlazor.Components.Modals.RightSideModals.IdeaModal
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.ActionsMenus.CommentActionMenu
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Collapse
@using HITSBlazor.Components.Inputs.Select
@using HITSBlazor.Components.Modals.Components.ModalHeader
@using HITSBlazor.Components.Modals.Components.RightSideModaCollapselInfo
@using HITSBlazor.Components.Modals.Components.RightSideModalInfoItemComponent
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.ProgressBar
@using HITSBlazor.Components.Typography
@using HITSBlazor.Models.Common.Entities
@using HITSBlazor.Models.Common.Enums
@using HITSBlazor.Models.Ideas.Enums
@using HITSBlazor.Models.Users.Enums
@using HITSBlazor.Services.Ideas
@using HITSBlazor.Services.Modal
@using HITSBlazor.Utils.EnumStyles
@using HITSBlazor.Utils.EnumUIConverters
@using HITSBlazor.Utils.Models

<div class="right-side-modal p-3 overflow-y-scroll" @onclick:stopPropagation="true">
    <div class="idea-modal-side w-75">
        <RightSideModalHeader IsLoading="_isLoading" HeaderText="@CurrentIdea?.Name" />
        <RightSideModaCollapselInfo IsLoading="_isLoading" Data="ideaData" />
        @if (CheckIdeaRatingAccess() && !isRatingConfirmed)
        {
            <div class="idea-modal-rating bg-white rounded-3 p-3 d-grid w-100">
                <div class="w-100 row row-cols-2">
                    <div class="w-50 col-2 mb-2 @(_isLoading ? "d-flex flex-column gap-1" : string.Empty)">
                        <Select IsLoading="_isLoading"
                                Label="Рыночная ценность" 
                                @bind-Value="@MarketValue"
                                NeedValidation="_submitted"
                                Options="IdeasRatingCategories.MarketValueOptions" />
                        <Select IsLoading="_isLoading"
                                Label="Уникальность" 
                                @bind-Value="@Originality"
                                NeedValidation="_submitted"
                                Options="IdeasRatingCategories.OriginalityOptions" />
                        <Select IsLoading="_isLoading"
                                Label="Реализуемость" 
                                @bind-Value="@TechnicalRealizability"
                                NeedValidation="_submitted"
                                Options="IdeasRatingCategories.TechnicalRealizabilityOptions" />
                        <Select IsLoading="_isLoading"
                                Label="Пригодность" 
                                @bind-Value="@Suitability"
                                NeedValidation="_submitted"
                                Options="IdeasRatingCategories.SuitabilityOptions" />
                        <Select IsLoading="_isLoading"
                                Label="Бюджет" 
                                @bind-Value="@Budget"
                                NeedValidation="_submitted"
                                Options="IdeasRatingCategories.BudgetOptions" />
                    </div>
                </div>
                <ProgressBar IsLoading="_isLoading"
                             Text="Рейтинг" 
                             Score="_expertRatingValue"
                             CategoryCounts="5" />
                <div class="d-flex gap-3">
                    <Button Variant="ButtonVariant.Primary" 
                            IsLoading="_isLoading"    
                            LoadingWidth="w-25"
                            InProgress="isRatingConfirming"
                            OnButtonClick="ConfirmRating"
                            Text="Утвердить"
                            LoadingText="Утверждение"/>
                    <Button Variant="@(isRatingSaved ? ButtonVariant.Success : ButtonVariant.Primary)" 
                            IsLoading="_isLoading"
                            LoadingWidth="w-25"
                            InProgress="isRatingSaving"
                            OnButtonClick="SaveRating"
                            Text="Сохранить форму"
                            LoadingText="Сохранение"/>
                </div>
            </div>            
        }
        @if (_isLoading || CheckInitiatorAccess() || CheckProjectOfficeAccess())
        {
            <div class="bg-white d-flex rounded-3 @(_isLoading ? "p-2 gap-2" : "p-3 gap-3 flex-wrap")">
                @if (CheckInitiatorAccess())
                {
                    <Button Variant="ButtonVariant.Light" 
                            IsLoading="_isLoading"
                            OnButtonClick="NavigateToCreateIdea"
                            Text="Редактировать" />
                    <Button Variant="ButtonVariant.Success" 
                            IsLoading="_isLoading"
                            OnButtonClick="@(() => UpdateIdeaStatus(IdeaStatusType.OnApproval))"
                            Text="Отправить на согласование" />
                }

                @if (CheckProjectOfficeAccess())
                {
                    <Button Variant="ButtonVariant.Danger" 
                            IsLoading="_isLoading"
                            OnButtonClick="@(() => UpdateIdeaStatus(IdeaStatusType.OnEditing))"
                            Text="Отправить на доработку" />
                    <Button Variant="ButtonVariant.Success" 
                            IsLoading="_isLoading"
                            OnButtonClick="@(() => UpdateIdeaStatus(IdeaStatusType.OnConfirmation))"
                            Text="Отправить на утверждение" />
                }
            </div>
        }
        <div class="bg-white rounded-3 @(_isLoading ? "pb-2" : string.Empty)">
            @if (_isLoading)
            {
                <div class="d-grid gap-3 pt-2 px-2 w-100">
                    @for (int chatItem = 0; chatItem < 3; ++chatItem)
                    {
                        <div class="card rounded-3 shadow advertisement @(chatItem % 2 == 0 ? "current-user-advertisement" : string.Empty)">
                            <div class="card-header d-flex gap-3 justify-content-between align-items-center">
                                <Placeholder Width="w-25" />
                                <Placeholder Width="w-75" />
                            </div>
                            <div class="card-body">
                                <Placeholder />
                                <Placeholder />
                            </div>
                        </div>
                    }
                </div>                
            }
            else
            {
                <div class="py-2 w-100 border-bottom">
                    <Typography FontSize="6" CustomClass="px-3">
                        Комментарии
                    </Typography>
                </div>
                <div class="d-grid gap-3 pt-3 px-3 w-100">
                    @foreach (var comment in IdeaComments)
                    {
                        var sender = comment.Sender;
                        var isCurrentUserMessage = sender.Id == CurrentUser?.Id;
                        <div class="card rounded-3 shadow advertisement @(isCurrentUserMessage ? "current-user-advertisement" : string.Empty)">
                            <div class="card-header d-flex justify-content-between align-items-center advertisement-header">
                                <Typography FontSize="6" TextColor="TextColor.Primary">
                                    @sender.FullName
                                </Typography>
                                <div class="d-flex gap-2 align-items-center">
                                    <Typography TextColor="TextColor.Primary">
                                        @comment.CreatedAt.ToString("dd.MM.yyyy в HH:mm")
                                    </Typography>
                                    @if (isCurrentUserMessage)
                                    {
                                        <CommentActionMenu ItemId="comment.Id"
                                                           StrategyPosition="Strategy.Fixed" 
                                                           OnAction="@HandleActionMenuClick"
                                                           ActionIds="@(new Dictionary<MenuAction, object> { 
                                                                [MenuAction.Delete] = comment
                                                           })"/>                                      
                                    }
                                </div>
                            </div>
                            <div class="card-body py-2">
                                @comment.Text
                            </div>
                        </div>                        
                    }
                </div>
                <!-- TODO: система комментариев не сделана? ну это уже с API надо делать -->
                <div class="p-3">
                    <div class="d-flex gap-3 align-items-start">
                        <div class="w-100">
                            <div class="input-group">
                                <Typography FontSize="6" CustomClass="input-group-text">
                                    <i class="bi bi-chat"></i>
                                </Typography>
                                <input type="text" placeholder="Добавить комментарий" class="form-control rounded-end" />
                            </div>
                        </div>
                        <Button Variant="ButtonVariant.Primary"
                                Text="Отправить" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="idea-modal-side w-25 bg-white rounded @(_isLoading ? "pb-3" : string.Empty)">
        @if (_isLoading)
        {
            <div class="bg-primary py-4 rounded-top-3"></div>            
        }
        else
        {
            <Typography FontSize="4" TextColor="TextColor.White" CustomClass="p-2 bg-primary rounded-top text-center">
                @(
                    CurrentIdea?.Status == IdeaStatusType.OnConfirmation
                        ? $"Утвердили {IdeaRatings.Where(r => r.IsConfirmed).Count()}/{IdeaRatings.Count()}"
                        : EnumUIConverter.GetInfo(CurrentIdea?.Status).DisplayText
                ) 
            </Typography>
        }
        <div class="w-100 pb-3 px-3 idea-info">
            <RightSideModalInfoItemComponent IsLoading="_isLoading"
                                                Label="Заказчик" 
                                                Icon="bi-person-circle"
                                                Text="@CurrentIdea?.Customer"
                                                TextColor="TextColor.Primary" />
            <RightSideModalInfoItemComponent IsLoading="_isLoading"
                                                Label="Инициатор" 
                                                Icon="bi-envelope"
                                                Text="@CurrentIdea?.Initiator.FullName"
                                                TextColor="TextColor.Primary"
                                                IsLinkable="true"
                                                OnLinkClick="() => ShowUserProfile(CurrentIdea?.Initiator.Id)"/>
            <div class="w-100">
                @if (_isLoading)
                {
                    <Placeholder Width="w-25" />
                    <div>
                        @for (int i = 0; i < IdeaRatings.Count; ++i)
                        {
                            <Placeholder />                        
                        }
                    </div>
                }
                else
                {
                    <Typography FontSize="6" TextColor="TextColor.Secondary" CustomClass="border-bottom d-block">
                        Эксперты
                    </Typography>
                    @foreach (var rating in IdeaRatings)
                    {
                        <div class="pt-2 idea-sub-info">
                            <i class="text-secondary fs-3 bi @(rating.IsConfirmed ? "bi-check-lg opacity-50 text-success" : "bi-clock-history opacity-25")"></i>
                            <Typography FontSize="6" TextColor="TextColor.Primary">
                                @rating.ExpertFullName
                            </Typography>
                            <Typography FontSize="6" TextColor="rating.IsConfirmed ? rating.RatingValue.GetStyle() : null">
                                @(rating.IsConfirmed ? rating.RatingValue : string.Empty)
                            </Typography>
                        </div>
                    }
                }
            </div>
            <Button IsLoading="_isLoading"
                    Variant="ButtonVariant.Primary"
                    Text="Поделиться идеей" />
        </div>
    </div>
</div>