@namespace HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Utils.Models
@inherits BaseActionMenuComponent

<td class="py-3" @ref="_containerRef">
    <div class="float-end table-modal-icon">
        <i @ref="_triggerRef"
           @onclick="@ToggleMenu"
           class="bi bi-three-dots fs-5 @(IsOpen ? "active" : string.Empty)"
           aria-expanded="@IsOpen">
        </i>
        <div @ref="_menuRef"
             @onclick:stopPropagation
             class="dropdown-menu action-modal @(IsOpen ? "is-visible" : "")">
            <ul class="list-group list-group-flush">
                @foreach (var action in ActionIds)
                {
                    <li @onclick="@(() => HandleActionClick(action.Key, action.Value))"
                        class="list-group-item list-group-item-action px-2 py-1 @GetActionStyle(action.Key)">
                        @(EnumViewModel<MenuAction>.GetTranslation(action.Key))
                    </li>
                }
            </ul>
        </div>
    </div>
</td>