@namespace HITSBlazor.Components.Tables.TableActionMenu

<td class="py-3" @ref="_containerRef">
    <div class="float-end table-row-icon">
        <i @ref="_triggerRef"
           @onclick="@ToggleMenu"
           class="bi bi-three-dots fs-5 @(IsOpen ? "active" : string.Empty)"
           aria-expanded="@IsOpen">
        </i>
        <div @ref="_menuRef"
             @onclick:stopPropagation
             class="dropdown-menu table-row-modal @(IsOpen ? "is-visible" : "")"
             style="z-index: 1100; position: absolute; visibility: @(IsOpen ? "visible" : "hidden"); opacity: 0;">
            <ul class="list-group list-group-flush">
                @foreach (var action in ActionIds)
                {
                    <li @onclick="@(() => HandleActionClick(action.Key, action.Value))"
                        class="list-group-item list-group-item-action px-2 py-1 @GetActionStyle(action.Key)">
                        @GetActionText(action.Key)
                    </li>
                }
            </ul>
        </div>
    </div>
</td>