@namespace HITSBlazor.Components.Modals.CenterModals.MarketModal
@using HITSBlazor.Components.Button
@using HITSBlazor.Components.Inputs.Input
@using HITSBlazor.Components.Modals.Components.CenterModalHeader
@using HITSBlazor.Utils.Validation

<div @onclick:stopPropagation="true" class="center-modal market-modal p-3 bg-white rounded">
    <CenterModalHeader IsLoading="_isLoading" 
                       HeaderText="@(MarketId.HasValue ? "Редактирование биржи" : "Создание биржи")" />
    <Input IsLoading="_isLoading"
           Label="Название"
           Placeholder="Введите название биржи"
           ErrorMessage="@_errors.GetValueOrDefault("name")"
           @bind-Value="MarketName" />
    <Input IsLoading="_isLoading"
           Label="Дата старта"
           InputType="InputType.Date"
           ErrorMessage="@_errors.GetValueOrDefault("startDate")"
           @bind-Value="MarketStartDate" />
    <Input IsLoading="_isLoading"
           Label="Дата окончания"
           InputType="InputType.Date"
           ErrorMessage="@_errors.GetValueOrDefault("finishDate")"
           @bind-Value="MarketFinishDate" />
    <Button IsLoading="_isLoading"
            Variant="ButtonVariant.Primary"
            InProgress="_submitting"
            Text="@(MarketId.HasValue ? "Сохранить изменения" : "Добавить")"
            LoadingText="@(MarketId.HasValue ? "Сохранение" : "Добавление")"
            OnButtonClick="SendMarket" />
</div>