@using HITSBlazor.Components.ActionMenus.BaseActionMenu
@using HITSBlazor.Components.InputSearch
@using HITSBlazor.Components.Tables.TableActionMenu
@using HITSBlazor.Components.Tables.TableBodyRow
@using HITSBlazor.Components.Tables.TableComponent
@using HITSBlazor.Pages
@inherits ListPageDataLoader

<InputSearch Width="50" IsLoading="_isLoading" ValueChanged="@((value) => SearchData(value))" DebounceDelay="500" />
<TableComponent IsLoading="_isLoading" HeaderItems="MembersTableHeader" TableActionMenuIsEnable="true" @ref="_tableComponent">
    <TableContent>
        @foreach (var member in _teamMembers.OrderBy(u => u.Id != CurrentTeam.Owner?.Id || u.Id != CurrentTeam.Leader?.Id))
        {
            <tr>
                <TableBodyRow>
                    @{
                        var displayInfo = GetRoleDisplayInfo(member.Id);
                        <div @onclick="() => ShowUserProfile(member.UserId)"
                             class="data-link @(displayInfo.TextColor.HasValue ? $"text-{displayInfo.TextColor.Value.ToString().ToLower()}" : string.Empty)">
                            @member.Email @displayInfo.DisplayText
                        </div>
                    }
                </TableBodyRow>
                <TableBodyRow>
                    @member.FirstName
                </TableBodyRow>
                <TableBodyRow>
                    @member.LastName
                </TableBodyRow>
                <TableActionMenu ItemId="member.Id"
                                 StrategyPosition="Strategy.Fixed"
                                 OnAction="@HandleTableMenuClick"
                                 ActionIds="GetActions(member)" />
            </tr>
        }
    </TableContent>
</TableComponent>