@namespace HITSBlazor.Components.Inputs.Number
@using HITSBlazor.Components.Typography

<div class="w-100">
    <div class="input-group">
        <input type="number"
               min="@MinValue"
               max="@MaxValue"
               value="@Value"
               placeholder="@Placeholder"
               @oninput="@OnInputChanged"
               class="form-control rounded-end @(_showError ? "is-invalid" : string.Empty)" />
        @if (_showError)
        {
            <Typography CustomClass="invalid-feedback">@ErrorMessage</Typography>
        }
    </div>
</div>