@namespace HITSBlazor.Components.Inputs.Number
@using HITSBlazor.Components.Placeholders.Placeholder
@using HITSBlazor.Components.Typography
@typeparam T where T : struct, IComparable, IConvertible, IComparable<T>, IEquatable<T>

<div class="w-100">
    @if (IsLoading)
    {
        <Placeholder Height="PlaceholderHeight.Smaller" />
    }
    else
    {
        <div class="input-group">
            <input type="number"
                   min="@MinValue"
                   max="@MaxValue"
                   placeholder="@Placeholder"
                   @bind:get="Value"
                   @bind:set="OnInputChanged"
                   @bind:event="oninput"
                   class="form-control rounded-end @(_showError ? "is-invalid" : string.Empty)"
                   @attributes="GetInputAttributes()" />
            @if (_showError)
            {
                <Typography CustomClass="invalid-feedback">@ErrorMessage</Typography>
            }
        </div>
    }
</div>